<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Manage Label</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="fglabelmaster">
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control " id="label" name="label"
                                        placeholder="Title" formControlName="label" required>
                                    <div *ngIf="fglabelmaster.controls['label'].invalid && (fglabelmaster.controls['label'].dirty || fglabelmaster.controls['label'].touched)"
                                        class="text-danger">
                                        <ng-container *ngIf="fglabelmaster.controls.label.errors?.['required']">
                                            Title is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">TypeMaster</label>
                                    <webd-multiselect [data]="TypeMaster" class="col-sm-3 col-form-label" textField='typemaster'
                                    valueField='typemaster_id' [formControl]="fglabelmaster?.controls?.lsttypemaster"
                                    placeholder="Select Type Master" [config]="_configType"
                                    (onSelection)="onItemSelect($event)">
                                    </webd-multiselect>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Short Description</label>
                                    <input type="text" class="form-control " id="displayorder"
                                        name="displayorder" placeholder="Short Description"
                                        formControlName="displayorder">
                                    <webd-texteditor [formGroupTextArea]="this.fglabelmaster.controls['textarea']">
                                    </webd-texteditor>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3 form-check">
                                    <label class="form-label"></label>
                                    <label>Published</label>
                                    <input type="checkbox" class="form-check-input" id="isPublished"
                                        formControlName="isactive">
                                    <span class="new-control-indicator"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4"
                                onclick="setlabelMaster(true)">Submit</button>
                            &nbsp;
                            <button type="submit" class="btn btn-secondary mb-4">Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>