swiper-container, swiper-slide {
    box-sizing: border-box;
  }
  .banner-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 100vh;
    width: 100vw;
  }

  .pc-container .pc-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 20px !important;
}