<div class="home_page">
    <section class="hero">
        <swiper class="swiper-container" [config]="BannerSwiper">
            <div *ngFor="let slide of bannerList" class="swiper-slide">
                <img [src]="this._base._commonService.cdnURL+slide.thumbnail" [alt]="slide" />
            </div>
        </swiper>

        <section class="container_section categories">
            <div class="inner_container">
                <div class="category" (click)="goToProduct()">
                    <img src="../../../assets/images/moving.png" alt="Moving" />
                    <!-- <span>Moving</span> -->
                </div>
                <div class="category" (click)="goToProduct()">
                    <img src="../../../assets/images/fixed.png" alt="Fixed" />
                    <!-- <span>Fixed</span> -->
                </div>
            </div>
        </section>

    </section>

    <section class="howitsworks">
        <div class="inner_container">
            <h2 class="primary_heading">How One Screen works ?</h2>
            <div class="steps">
                <div class="step">
                    <img src="../../../assets/images/quote.png" alt="Get Quote Image" />
                    <span class="step_count">1</span>
                    <h3 class="secondary_heading">Pick Your Ad Ride</h3>
                    <p class="step_description">Select the perfect vehicle for your brand display.</p>
                </div>
                <div class="step">
                    <img src="../../../assets/images/pick_up.png" alt="Schedule Pick Up Image" />
                    <span class="step_count">2</span>
                    <h3 class="secondary_heading">Plan Your Route</h3>
                    <p class="step_description"> Choose targeted routes for maximum audience reach.</p>
                </div>
                <div class="step">
                    <img src="../../../assets/images/get_paid.png" alt="Get Paid Image" />
                    <span class="step_count">3</span>
                    <h3 class="secondary_heading">Select Your Screen</h3>
                    <p class="step_description">Pick dynamic LED screens that fit your campaign style.
                    </p>
                </div>
                <div class="step">
                    <img src="../../../assets/images/get_paid.png" alt="Get Paid Image" />
                    <span class="step_count">4</span>
                    <h3 class="secondary_heading">Set Your Schedule</h3>
                    <p class="step_description">Choose ideal time slots to display your ad.
                    </p>
                </div>
                <div class="step">
                    <img src="../../../assets/images/get_paid.png" alt="Get Paid Image" />
                    <span class="step_count">5</span>
                    <h3 class="secondary_heading">Confirm & Go Live</h3>
                    <p class="step_description">Finalize your booking and start your campaign.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="container_section whyus_section">
        <div class="inner_container">
            <div class="whyus_parent">
                <h2 class="primary_heading">Why Choose Us?</h2>
                <div class="whyus">
                    <div class="whyus_thumbnail">
                        <img src="../../../assets/images/whychoose.svg" alt="Why Us Image" />
                    </div>
                    <div class="whyus_points">
                        <div class="whyus_point">
                            <img src="../../../assets/images/best_prices.svg" alt="Best Prices Image" />
                            <h3 class="whyus_name">Best Price Guarantee</h3>
                            <p class="whyus_description">Ensuring maximum reach at the most competitive rates.</p>
                        </div>
                        <div class="whyus_point">
                            <img src="../../../assets/images/instant_payment.svg" alt="Instant Payment Image" />
                            <h3 class="whyus_name">Real-Time Ad Control</h3>
                            <p class="whyus_description">Update your campaign instantly from anywhere.</p>
                        </div>
                        <div class="whyus_point">
                            <img src="../../../assets/images/simple_convenient.svg"
                                alt="Simple &amp; Convenient Image" />
                            <h3 class="whyus_name">Maximum Brand Visibility</h3>
                            <p class="whyus_description">Get noticed across busy streets and crowded hubs.</p>
                        </div>
                        <div class="whyus_point">
                            <img src="../../../assets/images/free_pickup.svg" alt="Free Pickup Image" />
                            <h3 class="whyus_name">Advanced LED Technology</h3>
                            <p class="whyus_description">Deliver bright, high-quality visuals that capture attention.</p>
                        </div>
                        <div class="whyus_point">
                            <img src="../../../assets/images/invoice.svg" alt="Valid Purchase Invoice Image" />
                            <h3 class="whyus_name">Flexible Booking Options</h3>
                            <p class="whyus_description">Choose vehicle, route, screen, and time—your way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="grow_business">
        <div class="inner_container">
            <div class="grow_sections">
                <div class="grow_business_left">
                    <div class="logo">
                        <img src="../../assets/images/onescreen_logo.png" alt="Camera Logo" />
                    </div>
                    <h3>Join thousands who trust ScreenToSell for the best deals!</h3>
                </div>
                <div class="grow_business_right">
                    <button class="btn primary_btn">
                        <span>Find your screen</span>
                        <img src="../../../assets/images/user.svg" alt="User Icon" />
                    </button>
                    <p>Trusted by thousands across India!</p>
                </div>
            </div>
        </div>
    </section>

</div>