
<swiper-container direction="vertical" slides-per-view="1"
      pagination="true" mousewheel="true"
      style="width: 100vw; height: 100vh; display: block;">
    <swiper-slide class="banner-slide"  style="display:flex; align-items:center; justify-content:center; font-size:2rem; background:#f5a623;"></swiper-slide>
    <swiper-slide class="banner-slide" style="display:flex; align-items:center; justify-content:center; font-size:2rem; background:#f5a623;"></swiper-slide>
    <swiper-slide class="banner-slide" style="display:flex; align-items:center; justify-content:center; font-size:2rem; background:#f5a623;"></swiper-slide>
 </swiper-container>
 