/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import './assets/css/style.css';
@import './assets/css/style-preset.css';

.error_msg {
    color: red;
    font-size: 12px;
    display: block;
}