<div class="aboutus_page">
    <section class="container_section breadcrumb">
        <div class="inner_container">
            <h1 class="page_heading">Cancellation & Refund Policy
            </h1>
            <p aria-label="Breadcrumb navigation">
                <span>Home</span>
                <img src="../../../assets/images/right_arrow.svg" alt="Breadcrumb navigation Arrow">
                <span class="domain_color">Cancellation & Refund Policy</span>
            </p>
        </div>
    </section>

    <section class="container_section top_gap faqs">
        <div class="inner_container privacy-card">

            <div class="card">

                <div class="card-header">
                    <h3>Cancellation & Refund Policy</h3>
                </div>
                <div class="card-body">

                    <p><strong>ONESCREEN</strong> provides digital advertising services, not physical goods. However,
                        for
                        marketing materials, merchandise, or promotional equipment ordered through our
                        platform, the following policy applies:</p>

                    <h5>1. Force Majeure</h5>
                    <p>ONESCREEN is not liable for cancellations or delays caused by events beyond control, including
                        natural disasters, strikes, network failures, or government restrictions.
                    </p>

                    <h5>2. Non-Refundable Items</h5>
                    <p>Creative or design charges.
                        <br>
                        Setup and logistical fees once campaigns are scheduled.
                        <br>
                        Special promotional bookings or discounted campaigns.
                    </p>

                    <h5>3. Dispute Resolution</h5>
                    <p>In case of disputes, both parties agree to resolve the issue amicably before initiating legal
                        action.
                        Legal jurisdiction will remain in Surat, Gujarat.
                    </p>

                    <h5>4. Campaign Cancellation</h5>
                    <p>Cancellation requests must be submitted in writing to <a
                            href="mailto:getonescreen@gmail.com">getonescreen&#64;gmail.com</a>.
                    </p>

                    <h5>4. Refund Eligibility</h5>
                    <p>Refunds (if applicable) are processed only when:<br>
                        The campaign cannot be executed due to a technical failure or operational error from ONESCREEN’s
                        side.
                    </p>

                    <h5>5. Contact Us</h5>
                    <p>For questions, concerns, or requests regarding this Terms & Conditions or your personal data,
                        please contact
                        us:
                    </p>
                    <ul>
                        <li><strong>Email:</strong> <a href="mailto:getonescreen@gmail.com">getonescreen&#64;gmail.com</a></li>
                        <li><strong>Phone:</strong> <a href="tel:+91 7490077475">+91 7490077475</a></li>
                        <li><strong>Address:</strong> 302, International Finance Center, VIP Road, Vesu, Surat</li>
                    </ul>

                    <!-- <p><strong>ONESCREEN</strong> is committed to protecting your privacy and ensuring a safe,
                        transparent
                        experience while using our services.</p> -->
                </div>
            </div>
        </div>
    </section>
</div>