<div class="d-flex justify-content-end">
    <!-- <button class="btn btn-primary btn-sm">
        New Type
    </button>
    &nbsp; -->
    <a class="btn btn-primary btn-sm" [routerLink]="['/app/managevalues/0']">
        New Values
    </a>
    <!-- &nbsp;
    
    <button class="btn btn-primary btn-sm">
        New Option
    </button> -->
</div>
<webd-table #dataTableCom [config]='tableConfigoptionvalue' (tableEvent)="tableClick($event)"></webd-table>

<swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?" text="This cannot be undone"
    icon="warning" [showCancelButton]="true" [focusCancel]="true"
    [customClass]="{confirmButton: 'btn btn-danger btn-sm', cancelButton: 'btn btn-active-light btn-sm'}">
</swal>

<swal #successSwal [swalOptions]="swalOptions" title="Delete successfully!" text="" icon="success"
    [showConfirmButton]="false">
</swal>