<!-- <div>
    <a routerLink="/app/managecategory/0" class="btn btn-primary btn-sm">
        New Category
    </a>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Manage Category</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="fgcategorymaster">
                            <div class="row mb-6">
                                <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                                    [controlObject]="fgcategorymaster.controls['thumbnail']"
                                    [fileConfig]="this.fileConfig['thumbnail']">
                                </webd-mediauploader>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">TypeMaster</label>
                                    <webd-multiselect [data]="TypeMaster" class="col-sm-3 col-form-label"
                                        textField='typemaster' valueField='typemaster_id'
                                        [formControl]="fgcategorymaster?.controls?.lsttypemaster"
                                        placeholder="Select Type Master" [config]="_configType"
                                        (onSelection)="onItemSelect($event)">
                                    </webd-multiselect>
                                    <div *ngIf="fgcategorymaster.controls['lsttypemaster'].touched && fgcategorymaster.controls['lsttypemaster'].invalid"
                                        class="text-danger">
                                        <ng-container
                                            *ngIf="fgcategorymaster.controls.lsttypemaster.errors?.['required']">
                                            Type Master is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Parent Category</label>
                                    <webd-multiselect [data]="CategoryMaster" class="col-sm-3 col-form-label"
                                        textField='category' valueField='category_id'
                                        [formControl]="fgcategorymaster?.controls?.lstparentcategory"
                                        placeholder="Select Category" [config]="_configCat"
                                        (onSelection)="onSelectCat($event)">
                                    </webd-multiselect>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Category</label>
                                    <input type="text" class="form-control" id="category" name="category"
                                        placeholder="Catagory" formControlName="category" required>
                                    <div *ngIf="fgcategorymaster.controls['category'].invalid && (fgcategorymaster.controls['category'].dirty || fgcategorymaster.controls['category'].touched)"
                                        class="text-danger">
                                        <ng-container *ngIf="fgcategorymaster.controls.category.errors?.['required']">
                                            Catagory is required.
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                             <div class="mb-6">
                                <div class="mb-12">
                                    <label class="form-label">Short Description</label>
                                    <webd-texteditor [formGroupTextArea]="this.fgcategorymaster.controls['textarea']">
                                    </webd-texteditor>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3">
                                    <label class="form-label">Display Order</label>
                                    <input type="text" class="form-control" id="displayorder" name="displayorder"
                                        placeholder="Catagory" formControlName="displayorder">
                                </div>
                                <div class="col-lg-4 mb-3 form-check">
                                    <label class="form-label"></label>
                                    <label>IsFeatured</label>
                                    <input type="checkbox" class="form-check-input" id="isfeatured"
                                        formControlName="isfeatured">
                                    <span class="new-control-indicator"></span>
                                </div>
                                <div class="col-lg-4 mb-3 form-check">
                                    <label class="form-label"></label>
                                    <label>Published</label>
                                    <input type="checkbox" class="form-check-input" id="isPublished"
                                        formControlName="isactive">
                                    <span class="new-control-indicator"></span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mb-4"
                                (click)="setcategoryMaster(true)">Submit</button>
                            &nbsp;
                            <button type="submit" class="btn btn-secondary mb-4" (click)="navigateBack()">Back</button>

                            <swal #successSwal [swalOptions]="swalOptions" title="Save successfully!" text=""
                                icon="success" [showConfirmButton]="false">
                            </swal>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>