<img src="../../../assets/images/faq_wireframe.png"
    style="position: absolute;top:110px;right:0;left:0;width: 100%;height: auto;opacity: 0.5;display: none;" />
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const accordions = document.querySelectorAll(".accordion");

        accordions.forEach((accordion) => {
            const toggle = accordion.querySelector(".toggle");
            const inner = accordion.querySelector(".inner");

            toggle.addEventListener("click", function () {
                accordions.forEach((acc) => {
                    if (acc !== accordion) {
                        acc.querySelector(".inner").style.maxHeight = null;
                        acc.querySelector(".toggle").classList.remove("open");
                    }
                });

                if (inner.style.maxHeight) {
                    inner.style.maxHeight = null;
                    toggle.classList.remove("open");
                } else {
                    inner.style.maxHeight = inner.scrollHeight + "px";
                    toggle.classList.add("open");
                }
            });
        });
    });
</script>
<div class="faq_page">
    <section class="container_section breadcrumb">
        <div class="inner_container">
            <h1 class="page_heading">FAQ's
            </h1>
            <p aria-label="Breadcrumb navigation">
                <span>Home</span>
                <img src="../../../assets/images/right_arrow.svg" alt="Breadcrumb navigation Arrow">
                <span class="domain_color">FAQ's</span>
            </p>
        </div>
    </section>

    <section class="container_section top_gap faqs">
        <div class="inner_container">
            <div class="faqs_sec">
                <div class="faqs_questions">
                    <div class="accordions">
                        <div class="accordion" *ngFor="let item of faqList; let i = index"
                            [class.open]="activeIndex === i">
                            <div class="toggle" (click)="toggleAccordion(i)">
                                {{ item.question }}
                            </div>
                            <div class="inner" #inner [style.maxHeight]="activeIndex === i ? innerHeights[i] : '0'">
                                <div [innerHTML]="item.answer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_sec">
                    <h2 class="faqs_form_heading">Ask your Question</h2>
                    <p class="faqs_form_note">Belongs to those who fail in their duty through weakness</p>
                    <form [formGroup]="fgcontactdetails">
                        <!-- <form [formGroup]="fgcontactdetails"> -->
                        <div class="form_container">
                            <input type="text" id="fullname" name="fullname" placeholder="Full Name"
                                formControlName="fullname" required>
                            <div *ngIf="fgcontactdetails.controls['fullname'].invalid && (fgcontactdetails.controls['fullname'].dirty || fgcontactdetails.controls['fullname'].touched)"
                                class="text-danger">
                                <ng-container *ngIf="fgcontactdetails.controls['fullname'].errors?.['required']">
                                    Name required.
                                </ng-container>
                            </div>
                        </div>
                        <div class="form_container">
                            <input type="text" id="email_id" name="email_id" placeholder="Email_id"
                                formControlName="email_id" required
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                            <div *ngIf="fgcontactdetails.controls['email_id'].invalid && (fgcontactdetails.controls['email_id'].dirty || fgcontactdetails.controls['email_id'].touched)"
                                class="text-danger">
                                <ng-container *ngIf="fgcontactdetails.controls['email_id'].errors?.['required']">
                                    Email Id required.
                                </ng-container>
                                <ng-container *ngIf="fgcontactdetails.controls['email_id'].errors?.['email']">
                                    Please enter a valid email address.
                                </ng-container>
                                <ng-container *ngIf="fgcontactdetails.controls['email_id'].errors?.['pattern']">
                                    Email must be in a proper format (e.g., example&#64;gmail.com).
                                </ng-container>
                            </div>
                        </div>
                        <div class="form_container">
                            <input type="text" id="subject_line" name="subject_line" placeholder="Subject"
                                formControlName="subject_line" required>
                            <div *ngIf="fgcontactdetails.controls['subject_line'].invalid && (fgcontactdetails.controls['subject_line'].dirty || fgcontactdetails.controls['subject_line'].touched)"
                                class="text-danger">
                                <ng-container *ngIf="fgcontactdetails.controls['subject_line'].errors?.['required']">
                                    Subject required.
                                </ng-container>
                            </div>
                        </div>
                        <div class="form_container">
                            <textarea id="message" name="message" rows="4" placeholder="Question..."
                                formControlName="description"></textarea>
                        </div>
                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <button type="button" class="btn primary_btn" (click)="setcontactdetail(true)">
                                <ng-container *ngIf="!isLoading">Submit Request</ng-container>
                                <ng-container *ngIf="isLoading">
                                    <span clas="indicator-progress" [style.display]="'block'">
                                        Please wait...{{ " " }}
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </ng-container>
                            </button>
                        </div>

                        <swal #successSwal [swalOptions]="swalOptions" title="Submitted!" text="" icon="success"
                            [showConfirmButton]="false">
                        </swal>
                        <!-- <div class="modal_backdrop" *ngIf="isSuccessModal_Open">
                            <div class="modal_container">
                                <div class="modal_header">
                                    <h2 class="modal_heading">One Screeb!</h2>
                                    <span class="modal_close" (click)="isSuccessModal_Open = false;">
                                        <img src="./assets/img/close.svg" alt="Close Icon" />
                                    </span>
                                </div>
                                <div class="modal_body">
                                    <h3 class="section_head">Thank you for your inquiry. One of our executives will
                                        reach out to you for the next steps.</h3>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>
                <div class="faqs_thumbnail">
                    <img src="../../../assets/images/faq_thumbnail.png" alt="Faq's Text" />
                </div>
                
            </div>
        </div>
    </section>

    <section class="grow_business">
        <div class="inner_container">
            <div class="grow_sections">
                <div class="grow_business_left">
                    <div class="logo">
                        <img src="../../assets/images/onescreen_logo.png" alt="Camera Logo" />
                    </div>
                    <h3>Join thousands who trust ScreenToSell for the best deals!</h3>
                </div>
                <div class="grow_business_right">
                    <button class="btn primary_btn">
                        <span>Find your screen</span>
                        <img src="../../../assets/images/user.svg" alt="User Icon" />
                    </button>
                    <p>Trusted by thousands across India!</p>
                </div>
            </div>
        </div>
    </section>
</div>