@import '../../styles/variables';
@import 'swiper/dist/css/swiper.min.css';

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik/Graphik-Regular.woff2') format('woff2'),
         url('../font/Graphik/Graphik-Regular.woff') format('woff'),
         url('../font/Graphik/Graphik-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: $graphikFont;
    font-size: 17px;
    line-height: normal;
    transition: $transition;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: linear-gradient(rgb(159, 229, 222), rgb(221, 181, 236));
}
::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: $primaryColor;
}
::selection {
    background-color: #fff0ca;
    color: black;
}
.text_align_left {
    text-align: left !important;
}
.btn {
    padding: 13px 12px;
    border-radius: 20px 20px 0 20px;
    cursor: pointer;
    display: inline-block;
}
.btn img {
    height: 18px;
    width: auto;
}
.btn img,
.btn span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.primary_btn {
    background: $primaryColor;
    border: 1px solid $primaryColor;
    color: #000;
}
.primary_btn:hover {
    background: $primaryColorHover;
    border: 1px solid $primaryColorHover;
}
.secondary_btn {
    background: $secondaryColor;
    border: 1px solid $secondaryColor;
    color: #fff;
}
.secondary_btn:hover {
    background: $secondaryColorHover;
    border: 1px solid $secondaryColorHover;
}
.ternary_btn {
    background: $ternaryColor;
    border: 1px solid $ternaryColor;
    color: #000;
}
.ternary_btn:hover {
    background: $ternaryColorHover;
    border: 1px solid $ternaryColorHover;
}
.container_section {
    @extend .header_container_section;
    @extend .section_gap;
}
.inner_container {
    padding: 0 15px;
}
.primary_heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 500;
}
.secondary_heading {
    font-size: 22px;
    margin-bottom: 11px;
}
.page_heading {
    font-weight: 500;
    color: rgba(26, 62, 116, 1);
    font-size: 42px;
    margin-bottom: 15px;
}
.breadcrumb.container_section {
    padding-top: 64px;
}
.breadcrumb p img {
    height: 10px;
    width: auto;
}
.breadcrumb p > * {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

// Upper footer css
.grow_business {
    max-width: 1400px;
    margin: 0 auto;
}
.grow_sections {
    background-color: rgba(22, 34, 51, 0.08);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 27px;
}
.grow_business_left {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;
}
.grow_business_left .logo img {
    height: 68px;
}
.grow_business_left h3 {
    font-size: 22px;
    font-weight: normal;
}
.grow_business_right {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.grow_business_right .btn {
    margin-bottom: 24px;
}
.grow_business_right p {
    font-size: 18px;
}
.section_topic {
    text-transform: uppercase;
    color: $secondaryColor;
    font-size: 17px;
    margin-bottom: 8px;
}
.section_heading {
    color: #1A3E74;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 29px;
}
.section_description {
    line-height: 22px;
    margin-bottom: 30px;
    font-size: 17px;
}
.top_gap {
    margin-top: 18%;
}

// Responsive CSS
@media only screen and (max-width: 1200px) {
    .primary_heading {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .grow_business_left .logo img {
        height: 60px;
    }
    .grow_business_left h3 {
        font-size: 20px;
    }
    .grow_business_right p {
        font-size: 16px;
    }
    .grow_business_right .btn {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .page_heading {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .breadcrumb {
        padding-top: 3%;
    }
    .top_gap {
        margin-top: 100px;
    }
    .btn {
        padding: 11px 10px;
    }
    .grow_sections > div {
        width: 100% !important;
        gap: 10px;
    }
    .grow_sections {
        flex-direction: column;
        gap: 20px;
    }
    .grow_business_right .btn {
        margin: 0;
    }
    .grow_business_left .logo {
        line-height: 0;
    }
    .page_heading {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .section_heading {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .section_description {
        margin-bottom: 25px;
        font-size: 16px;
    }
    .top_gap {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 700px){
    .grow_sections > div {
        align-items: center;
        text-align: center;
    }
    .grow_sections {
        padding: 20px 10px;
    }
}