<div class="container-fluid">
    <form [formGroup]="fgproduct" class="d-flex align-items-center gap-3">
        <!-- From Date -->
        <div class="w-200px">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" ngbDatepicker #from_date="ngbDatepicker" readonly
                    formControlName="search_date" placeholder="dd-mm-yyyy" (click)="from_date.toggle()" />
                <span class="input-group-text" (click)="from_date.toggle()" style="cursor: pointer;">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>

        <!-- To Date -->
        <!-- <div class="w-200px">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" ngbDatepicker #toDate="ngbDatepicker" readonly
                    formControlName="to_date" placeholder="dd-mm-yyyy" (click)="toDate.toggle()" />
                <span class="input-group-text" (click)="toDate.toggle()" style="cursor: pointer;">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div> -->

        <button type="button" class="btn btn-primary btn-sm" (click)="onFilter()">
            <i class="fa fa-filter me-1"></i> Filter
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary btn-sm" (click)="clear()">
            Clear
        </button>
    </form>
    <br/>

    <webd-table #dataTableCom [config]="tableConfig"></webd-table>

</div>