/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import './assets/css/style.css';
@import './assets/css/style-preset.css';
@import '@ali-hm/angular-tree-component/css/angular-tree-component.css';

.error_msg {
    color: red;
    font-size: 12px;
    display: block;
}

.imgPreview {
    position: relative;
    float: left;
}
a.remImage img {
    box-shadow: none;
    position: absolute;
    right: 7px;
    top: -5px;
    margin-top: 4px;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.imgPreview:hover a.remImage img {
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 5px;
}
.imgPreview:after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.imgPreview:hover:after {
    opacity: 1;
}