<div class="aboutus_page">
    <section class="container_section breadcrumb">
        <div class="inner_container">
            <h1 class="page_heading">Shipping Policy
            </h1>
            <p aria-label="Breadcrumb navigation">
                <span>Home</span>
                <img src="../../../assets/images/right_arrow.svg" alt="Breadcrumb navigation Arrow">
                <span class="domain_color">Shipping Policy</span>
            </p>
        </div>
    </section>

    <section class="container_section top_gap faqs">
        <div class="inner_container privacy-card">

            <div class="card">

                <div class="card-header">
                    <h3>Shipping Policy</h3>
                </div>
                <div class="card-body">

                    <p><strong>ONESCREEN</strong> provides digital advertising services, not physical goods. However, for
                        marketing materials, merchandise, or promotional equipment ordered through our
                        platform, the following policy applies:</p>

                    <h5>1. Delivery Timeline</h5>
                    <p>The delivery timeline refers to the ad display period selected by the customer at the time of
                        booking on the <strong>ONESCREEN</strong> website.
                        <br>
                        Campaigns are scheduled and displayed as per the availability of the chosen advertising slots.
                        <br><strong>ONESCREEN</strong> ensures that all campaigns go live within the committed schedule once content
                        approval and payment confirmation are completed.
                        <br>
                        <strong>ONESCREEN</strong> is not responsible for delays caused by technical issues, weather conditions, or other
                        unforeseen operational disruptions.
                    </p>

                    <h5>2. Delivery Confirmation</h5>
                    <p>Delivery confirmation occurs after the ad content provided by the customer has been reviewed 
                        and approved by <strong>ONESCREEN's</strong> content and compliance team.
                    <br>
                        Once approved, the customer will receive a campaign confirmation, including slot details, estimated 
                        display start date, and duration of the campaign.</p>

                    <h5>3. Service Activation (for campaigns)</h5>
                    <p>Digital advertising campaigns are considered “delivered” once the ad goes live on 
                        <strong>ONESCREEN's</strong> designated digital screens.
                        <br>Clients will receive proof of play or campaign reports as per the service package.
                    </p>

                    <h5>4. Delivery Area</h5>
                    <p>We currently offer campaign services across select cities in India Availability in specific 
                        regions may vary.
                    </p>

                    <h5>5. Contact Us</h5>
                    <p>For questions, concerns, or requests regarding this Terms & Conditions or your personal data,
                        please contact
                        us:
                    </p>
                    <ul>
                        <li><strong>Email:</strong> <a href="mailto:info@onescreen.in">info&#64;onescreen.in</a></li>
                        <li><strong>Phone:</strong> <a href="tel:+91 7490077475">+91 7490077475</a></li>
                        <li><strong>Address:</strong> 302, International Finance Center, VIP Road, Vesu, Surat</li>
                    </ul>

                    <!-- <p><strong>ONESCREEN</strong> is committed to protecting your privacy and ensuring a safe,
                        transparent
                        experience while using our services.</p> -->
                </div>
            </div>
        </div>
    </section>
</div>