<div class="d-flex justify-content-end">
    <button (click)="opencouponModal()" class="btn btn-primary btn-sm">
        Add Prime Date
    </button>
    <!--end::Add user-->
</div>
<br>
<div>
    <webd-table #dataTableCom [config]='tableConfig' (tableEvent)="tableClick($event)"></webd-table>
</div>
<!-- [hidden]="!this._base._commonService.hasAccessofcontrol('admin_manageproduct_productlist')" -->
<swal #successSwal [swalOptions]="swalOptions" title="Primedate added successfully!" text="" icon="success"
    [showConfirmButton]="false">
</swal>
<swal #delsuccessSwal [swalOptions]="swalOptions" title="Delete successfully!" text="" icon="success"
    [showConfirmButton]="false">
</swal>

<swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?" text="This cannot be undone"
    icon="warning" [showCancelButton]="true" [focusCancel]="true"
    [customClass]="{confirmButton: 'btn btn-danger btn-sm', cancelButton: 'btn btn-active-light btn-sm'}">
</swal>

<ng-template #formModal let-modal>
    <form [formGroup]="fgprimedate" (ngSubmit)="setprimedate('ADDPRIMEDATE')">

        <div class="modal-header">
            <h4 class="modal-title">Prime Date</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>

        <div class="modal-body">
            <ng-container *ngIf="this.isdateexists">
                <div class="mb-3 alert alert-warning">
                    <div class="alert-text fw-bold">Prime Date already exists!</div>
                </div>
            </ng-container>
            <div class="row mb-4">

                <!-- Prime Date -->
                <div class="col-lg-4 fv-row">
                    <label class="form-label">Prime Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ngbDatepicker #prime_date="ngbDatepicker"
                            formControlName="prime_date" placeholder="dd-mm-yyyy" [minDate]="minDate"
                            (click)="prime_date.toggle()">

                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                    <div class="text-danger mt-1"
                        *ngIf="fgprimedate.get('prime_date')?.invalid && fgprimedate.get('prime_date')?.touched">
                        Prime Date is required.
                    </div>
                </div>

                <!-- Date Price -->
                <div class="col-lg-4 fv-row">
                    <label class="form-label">Date Price</label>
                    <input type="text" class="form-control" formControlName="date_price"
                        onkeypress="return /[0-9]/i.test(event.key)" placeholder="Date Price">

                    <div class="text-danger mt-1"
                        *ngIf="fgprimedate.get('date_price')?.invalid && fgprimedate.get('date_price')?.touched">
                        Date Price is required.
                    </div>
                </div>

                <!-- Description -->
                <div class="col-lg-4 fv-row">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" formControlName="prime_description" rows="5" style="height:120px"
                        placeholder="Enter description">
            </textarea>
                </div>

            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-sm" type="submit" [disabled]="fgprimedate.invalid">
                    Save
                </button>
            </div>

        </div>
    </form>
</ng-template>