all .10s ease-in-out: all .10s ease-in-out;
#FABA1C: #FABA1C;
#ffd05b: #ffd05b;
#cfb182: #cfb182;
#cda565: #cda565;
#E7E7E7: #E7E7E7;
#e7e7e7e5: #e7e7e7e5;
$arial: 'Graphik';

.header_container_section {
    max-width: 1174px;
    margin: 0 auto;
}
body .section_gap {
    margin-bottom: 108px;
}
.domain_color {
    color: #FABA1C;
}

// Responsive CSS
@media only screen and (max-width: 1200px) {
    body .section_gap, .whyus_section, .peopletalk {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 700px) {
    body .section_gap, .whyus_section, .peopletalk {
        margin-bottom: 30px;
    }
}