$transition: all .10s ease-in-out;
$primaryColor: #FABA1C;
$primaryColorHover: #ffd05b;
$secondaryColor: #cfb182;
$secondaryColorHover: #cda565;
$ternaryColor: #E7E7E7;
$ternaryColorHover: #e7e7e7e5;
$graphikFont: 'Graphik';

.header_container_section {
    max-width: 1174px;
    margin: 0 auto;
}
body .section_gap {
    margin-bottom: 108px;
}
.domain_color {
    color: $primaryColor;
}

// Responsive CSS
@media only screen and (max-width: 1200px) {
    body .section_gap, .whyus_section, .peopletalk {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 700px) {
    body .section_gap, .whyus_section, .peopletalk {
        margin-bottom: 30px;
    }
}