<div class="row">
    <div class="col-xxl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 me-3">
              <h4 class="mb-1 fw-medium">Total Products</h4>
              <h4 class="mb-1 text-mutedx">{{userdashboard[0]?.total_product}}</h4>
              <!-- <p class="mb-0 text-sm">May 23 - June 01 (2018)</p> -->
            </div>
            <div class="flex-shrink-0">
              <div class="avtar avtar-l bg-light-primary rounded-circle">
                <i class="ph-duotone ph-book-bookmark f-28"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 me-3">
              <h5 class="mb-1 fw-medium">Product In Cart</h5>
              <h4 class="mb-1 text-muted">{{userdashboard[0]?.in_cart}}</h4>
              <!-- <p class="mb-0 text-sm">May 23 - June 01 (2018)</p> -->
            </div>
            <div class="flex-shrink-0">
              <div class="avtar avtar-l bg-light-success rounded-circle">
                <i class="ph-duotone ph-rocket f-28"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 me-3">
              <h4 class="mb-1 fw-medium">Total Sale</h4>
              <h4 class="mb-1 text-muted">{{userdashboard[0]?.order_total}}</h4>
              <!-- <p class="mb-0 text-sm">May 23 - June 01 (2018)</p> -->
            </div>
            <div class="flex-shrink-0">
              <div class="avtar avtar-l bg-light-warning rounded-circle">
                <i class="ph-duotone ph-credit-card f-28"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 me-3">
              <h4 class="mb-1 fw-medium">Total Order</h4>
              <h4 class="mb-1 text-muted">{{userdashboard[0]?.total_order}}</h4>
              <!-- <p class="mb-0 text-sm">May 23 - June 01 (2018)</p> -->
            </div>
            <div class="flex-shrink-0">
              <div class="avtar avtar-l bg-light-danger rounded-circle">
                <i class="ph-duotone ph-user-minus f-28"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
</div> <webd-table #dataTableCom [config]='tableConfig'></webd-table>