<form [formGroup]="fgcategorymaster">
  <div class="card" id="accordionExample">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-6">
            <div class="col-lg-2 mb-2">
              <label class="form-label">Screen Type</label>
              <webd-multiselect [data]="TypeMaster" class="col-sm-3 col-form-label" textField='category'
                valueField='category_id' [formControl]="fgcategorymaster?.controls?.lsttype" placeholder="Select Type"
                [config]="_screentype" (onSelection)="onSelecttype($event)">
              </webd-multiselect>
            </div>
            <div class="col-lg-2 mb-2">
              <label class="form-label">Vehicle/ Property</label>
              <webd-multiselect [data]="PropertyMaster" class="col-sm-3 col-form-label" textField='category'
                valueField='category_id' [formControl]="fgcategorymaster?.controls?.lstproperty"
                placeholder="Select Property" [config]="_propertytype" (onSelection)="onSelectproperty($event)">
              </webd-multiselect>
            </div>
            <div class="col-lg-2 mb-2">
              <label class="form-label">Route</label>
              <webd-multiselect [data]="RouteMaster" class="col-sm-3 col-form-label" textField='category'
                valueField='category_id' [formControl]="fgcategorymaster?.controls?.lstroute" placeholder="Select Route"
                [config]="_route" (onSelection)="onSelectroute($event)">
              </webd-multiselect>
            </div>
            <div class="col-lg-2 mb-2">
              <label class="form-label">Screen/ Product</label>
              <webd-multiselect [data]="ScreenMaster" class="col-sm-3 col-form-label" textField='product_name'
                valueField='product_id' [formControl]="fgcategorymaster?.controls?.lstscreen"
                placeholder="Select Screen" [config]="_screen" (onSelection)="onSelectscreen($event)">
              </webd-multiselect>
            </div>
            <div class="col-lg-2 mb-2">
              <label class="form-label">Time Slot</label>
              <webd-multiselect [data]="TimeMaster" class="col-sm-3 col-form-label" textField='option_value'
                valueField='option_value_id' [formControl]="fgcategorymaster?.controls?.lsttimeslot"
                placeholder="Select Timeslot" [config]="_timeslot" (onSelectEvent)="onSelectEvent($event)"
                (onDeSelectEvent)="onDeSelectEvent($event)">
              </webd-multiselect>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ng-container formArray="lst_cart_product">
    <div class="card" [formGroup]='_objPass' *ngFor="let _objPass of timeArray?.controls;let i =index">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-lg-2 mb-3">
            <label for="timeslot_category_id_{{i+1}}" class="form-label">Time Slot :</label>
            <input type="text" id="timeslot_category_id_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Time Slot" formControlName="timeslot_category">
          </div>
          <div class="col-lg-2   mb-2">
            <label for="product_id_{{i+1}}" class="form-label">Screen Property :</label>
            <input type="text" id="product_id_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Screen interval" formControlName="product_name">
          </div>
          <div class="col-lg-2   mb-2">
            <label for="screen_base_price_{{i+1}}" class="form-label">Base Price :</label>
            <input type="text" id="screen_base_price_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Screen interval" formControlName="base_price">
          </div>
          <div class="col-lg-2 mb-2">
            <label for="screen_repetition_id_{{i+1}}" class="form-label">Screen Repetition :</label>
            <select class="form-control form-control-sm" id="screen_interval" (change)="onRepetitionChange($event,i)">
              <option id="repet_value_id_" value="">Select Repetition</option>
              <option *ngFor="let _item of this.ScreenRepeMaster; let _ind=index" id="repet_value_id_{{_ind}}"
                [value]="_item.option_value_id">
                {{_item.option_value}}</option>
            </select>
            <!-- <div
            *ngIf="_objPass.controls.repetition_price.invalid && (_objPass.controls.repetition_price.dirty || _objPass.controls.repetition_price.touched)"
            class="error_msg">
            <ng-container *ngIf="_objPass.controls.repetition_price.errors?.['required']">
              Repetition is required.
            </ng-container>
          </div> -->
          </div>
          <div class="col-lg-2   mb-2">
            <label for="repetition_price_{{i+1}}" class="form-label">Repetition Price :</label>
            <input type="text" id="repetition_price_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Screen interval" formControlName="repetition_price">

          </div>
          <div class="col-lg-2 mb-2">
            <label for="from_date{{i+1}}" class="form-label">From Date :</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" ngbDatepicker #from_date="ngbDatepicker"
                id="from_date{{i+1}}" from_date.displayMonths="true" formControlName="from_date"
                placeholder="dd-mm-yyyy" [minDate]="minDate" [maxDate]="maxDate" (click)="from_date.toggle()">
              <span class="input-group-text" (click)="from_date.toggle()">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <!-- <div
            *ngIf="_objPass.controls.from_date.invalid && (_objPass.controls.from_date.dirty || _objPass.controls.from_date.touched)"
            class="error_msg">
            <ng-container *ngIf="_objPass.controls.from_date.errors?.['required']">
              From Date is required.
            </ng-container>
          </div> -->
          </div>
          <div class="col-lg-2 mb-2">
            <label for="to_date{{i+1}}" class="form-label">To Date :</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" ngbDatepicker #to_date="ngbDatepicker"
                id="to_date{{i+1}}" to_date.displayMonths="true" formControlName="to_date" placeholder="dd-mm-yyyy"
                [minDate]="minDate" [maxDate]="maxDate" (click)="to_date.toggle()">
              <span class="input-group-text" (click)="to_date.toggle()">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <!-- <div
            *ngIf="_objPass.controls.to_date.invalid && (_objPass.controls.to_date.dirty || _objPass.controls.to_date.touched)"
            class="error_msg">
            <ng-container *ngIf="_objPass.controls.to_date.errors?.['required']">
              To Date is required.
            </ng-container>
          </div> -->
          </div>
          <div class="col-lg-2   mb-2">
            <label for="time_price_{{i+1}}" class="form-label">Time Slot Price :</label>
            <input type="text" id="time_price_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Screen interval" formControlName="timeslot_price">
          </div>
          <div class="col-lg-2   mb-2">
            <label for="total_amount_{{i+1}}" class="form-label">Total Price :</label>
            <input type="text" id="total_amount_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Total" formControlName="total_amount">
          </div>
          <div class="col-lg-2   mb-2">
            <label for="quantity_{{i+1}}" class="form-label">Quantity :</label>
            <input type="text" id="quantity_{{i+1}}" class="form-control form-control-sm"
              placeholder="Quantity" formControlName="quantity">
          </div>
          <div class="col-lg-2 mb-2">
            <label for="interval_id_{{i+1}}" class="form-label">Screen Interval :</label>
            <select class="form-control form-control-sm" id="screen_interval" (change)="onIntervalChange($event,i)">
              <option id="interval_value_id_" value="">Select Interval</option>
              <option *ngFor="let _item of this.ScreenIntervalMaster; let _ind=index" id="interval_value_id_{{_ind}}"
                [value]="_item.option_value_id">
                {{_item.option_value}}</option>
            </select>
          </div>
          <div class="col-lg-2   mb-2">
            <label for="interval_price_{{i+1}}" class="form-label">Interval Price :</label>
            <input type="text" id="interval_price_{{i+1}}" class="form-control form-control-sm disabled"
              placeholder="Screen interval" formControlName="interval_price">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col-lg-2 mb-3">
        <button type="submit" id="btn_cart" class="btn btn-primary btn-sm" (click)="add_to_cart()"> Proceed to
          Cart</button>
      </div>
    </div>
  </div>
</form>


<swal #successSwal [swalOptions]="swalOptions" title="Product added to cart successfully!" text="" icon="success"
    [showConfirmButton]="false">
</swal>