.nav-pills .nav-link.nav-outline {
    border: 1px solid #054089;   /* Primary blue border */
    color: #054089;              /* Blue text */
    background-color: transparent;
    border-radius: 0.375rem;
    margin-right: 5px;
    transition: all 0.2s ease-in-out; /* Smooth effect */
  }
  
  .nav-pills .nav-link.nav-outline:hover {
    background-color: #054089;   /* Blue background on hover */
    color: #fff;                 /* White text */
  }
  
  .nav-pills .nav-link.nav-outline.active {
    background-color: #054089;   /* Filled when active */
    color: #fff;
  }
  
  ::ng-deep .custom-popover {
  max-width: 300px;   /* Adjust width */
  font-size: 14px;    /* Adjust text size */
  padding: 10px;      /* Adjust padding */
}