<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a routerLink="/dashboard" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <img src="../assets/images/logo-dark.svg" alt="logo image" class="logo-lg" />
        <span class="badge bg-brand-color-2 rounded-pill ms-2 theme-version">v1.0</span>
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">

        <li class="pc-item">
          <a routerLink="/home" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-gauge"></i>
            </span>
            <span class="pc-mtext">Home</span>
          </a>
        </li>

        <li class="pc-item">

          <a routerLink="/aboutus" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">About Us</span>
          </a>
        </li>
        <li class="pc-item">

          <a routerLink="/contactus" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">Contact Us</span>
          </a>
        </li>
        <li class="pc-item">

          <a routerLink="/faqs" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">FAQs</span>
          </a>
        </li>
        <!-- <li class="pc-item">

          <a routerLink="/cart" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">Cart</span>
          </a>
        </li> -->
        <li class="pc-item">
          <a class="pc-link" (click)="goToProduct()" style="cursor: pointer;">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">Product</span>
          </a>
        </li>
        <!-- <li class="pc-item">

          <a routerLink="/userregistration" class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-user-circle"></i>
            </span>
            <span class="pc-mtext">Product</span>
          </a>
        </li> -->
      </ul>
      <div class="card nav-action-card bg-brand-color-4">
        <div class="card-body" style="background-image: url('../assets/images/layout/nav-card-bg.svg')">
          <h5 class="text-dark">Help Center</h5>
          <p class="text-dark text-opacity-75">Please contact us for more questions.</p>
          <a href="https://phoenixcoded.support-hub.io/" class="btn btn-primary" target="_blank">Go to help Center</a>
        </div>
      </div>
    </div>
    <div class="card pc-user-card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="../assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar wid-45 rounded-circle" />
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="dropdown">
              <a href="#" class="arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-offset="0,20">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-2">
                    <h6 class="mb-0">Jonh Smith</h6>
                    <small>Administrator</small>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="btn btn-icon btn-link-secondary avtar">
                      <i class="ph-duotone ph-windows-logo"></i>
                    </div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu">
                <ul>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-user"></i>
                      <span>My Account</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-gear"></i>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-lock-key"></i>
                      <span>Lock Screen</span>
                    </a>
                  </li> -->
                  <li>
                    <a class="pc-user-links" (click)="logout()" style="cursor : pointer;">
                      <i class="ph-duotone ph-power"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<header class="pc-header">
  <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
    <div class="me-auto pc-mob-drp">
      <ul class="list-unstyled">
        <!-- ======= Menu collapse Icon ===== -->
        <li class="pc-h-item pc-sidebar-collapse">
          <a class="pc-head-link ms-0" id="sidebar-hide">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
        <li class="pc-h-item pc-sidebar-popup">
          <a class="pc-head-link ms-0" id="mobile-collapse">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- [Mobile Media Block end] -->
    <div class="ms-auto">
      <ul class="list-unstyled">

        <li class="dropdown pc-h-item">
          <a class="pc-head-link me-0" (click)="this.goToCart()">
            <i class="ph-duotone ph-shopping-cart"></i>
          </a>
        </li>

        <li class="dropdown pc-h-item">
          <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown"
            data-bs-auto-close="outside">
            <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
          </a>
          <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
            <ng-container *ngIf="!isLoggedIn">
              <a [routerLink]="['/auth']" class="dropdown-item">
                <i class="ph-duotone ph-user-circle"></i>
                <span>Sign In</span>
              </a>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
              <a class="dropdown-item" routerLink="/app/dashboard">
                <i class="ph-duotone ph-user"></i> My Account
              </a>
              <a class="dropdown-item" routerLink="/app/profile">
                <i class="ph-duotone ph-user"></i> Edit Profile
              </a>
              <a (click)="logout()" style="cursor : pointer;" class="dropdown-item">
                <i class="ph-duotone ph-power"></i> Logout
              </a>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>