<div class="aboutus_page">
    <section class="container_section breadcrumb">
        <div class="inner_container">
            <h1 class="page_heading">About us
            </h1>
            <p aria-label="Breadcrumb navigation">
                <a>Home</a>
                <img src="../../../assets/images/right_arrow.svg" alt="Breadcrumb navigation Arrow">
                <a href="#" class="domain_color">About Us</a>
            </p>
        </div>
    </section>
    
    <section class="container_section aboutus top_gap">
        <div class="inner_container">
            <div class="aboutus_thumbnail">
                <img src="../../../assets/images/aboutuss_thumbnail.png" alt="About Us Thumbnail">
            </div>
            <div class="aboutus_content">
                <h2 class="section_topic">ABOUT US</h2>
                <h3 class="section_heading">Your Preferred Platform</h3>
                <ul>
                    <li>
                        <span><img src="../../../assets/images/bullet_icon.svg" alt="Bullet Point Icon"/></span>
                        <span>Hassle-Free Camera Deals</span>
                    </li>
                    <li>
                        <span><img src="../../../assets/images/bullet_icon.svg" alt="Bullet Point Icon"/></span>
                        <span>Instant & Fair Pricing</span>
                    </li>
                </ul>
                <p class="section_description">CameraToSell makes it easy for camera owners to get the best device value. With 5
                    years of experience, we provide a seamless process for photographers,
                    professionals, and casual users to upgrade effortlessly.</p>
                <a class="btn secondary_btn" [routerLink]="['/contactus']">
                    <span>Contact Us</span>
                    <img src="../../../assets/images/white_right_arrow.svg" alt="Button Arrow" >
                </a>
            </div>
        </div>
    </section>
    
    <section class="ourstory">
        <div class="container_section">
            <div class="inner_container">
                <div class="story_left_section">
                    <h2 class="section_topic">CAMERA HUB</h2>
                    <h3 class="section_heading">India’s Trusted Camera Marketplace</h3>
                    <p class="section_description">Every year, we serve 15,000+ happy customers, offering a quick and stress-free
                        experience. Whether looking for an easy way to part with your old camera or
                        upgrade to something new, we ensure a smooth and secure process.</p>
                    <button class="btn secondary_btn" role="button" tabindex="0">
                        <span>Sell Now</span>
                        <img src="../../../assets/images/white_right_arrow.svg" alt="Button Arrow">
                    </button>
                </div>
                <div class="story_thumbnail">
                    <img src="../../../assets/images/our_story_thumbnail.svg" alt="Our Story Thumbnail" />
                </div>
                <div class="story_right_section">
                    <p class="section_description">
                        Your Trusted Camera Marketplace – Fast, Fair & Hassle-Free!
                    </p>
                    <div class="missions">
                        <div><img src="../../../assets/images/aboutus_bullet_icon.svg" alt="Bullet Point Icon"/></div>
                        <div class="mission">
                            <h3>Our Commitment</h3>
                            <p class="section_description">Our mission is to empower camera users by providing a reliable and efficient
                                marketplace, ensuring every transaction is secure, fair, and hassle-free.</p>
                        </div>
                    </div>
                    <div class="missions">
                        <div><img src="../../../assets/images/aboutus_bullet_icon.svg" alt="Bullet Point Icon"/></div>
                        <div class="mission">
                            <h3>Our Strategy</h3>
                            <p class="section_description">We believe in transparency, security, and customer satisfaction. With a streamlined
                                process, expert support, and fair pricing, we make it easy for camera owners to
                                get the best value for their gear.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="grow_business">
        <div class="inner_container">
            <div class="grow_sections">
                <div class="grow_business_left">
                    <div class="logo">
                        <img src="../../../../assets/images/camera_to_sell_logo.svg" alt="Camera Logo" />
                    </div>
                    <h3>Join thousands who trust CameraToSell for the best deals!</h3>
                </div>
                <div class="grow_business_right">
                    <!-- <button class="btn primary_btn">
                        <span>List Your Products</span>
                        <img src="../../../assets/images/user.svg" alt="User Icon" />
                    </button> -->
                    <p>Trusted by thousands across India!</p>
                </div>
            </div>
        </div>
    </section>

</div>