<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-0">
        <ul class="nav nav-tabs checkout-tabs mb-0" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="ecomtab-tab-1" data-bs-toggle="tab" href="#ecomtab-1" role="tab"
              aria-controls="ecomtab-1" aria-selected="true">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <div class="avtar avtar-s">
                    <i class="ti ti-shopping-cart"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-2">
                  <h5 class="mb-0">Cart Details</h5>
                </div>
              </div>
            </a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" id="ecomtab-tab-2" data-bs-toggle="tab" href="#ecomtab-2" role="tab"
                aria-controls="ecomtab-2" aria-selected="true">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="avtar avtar-s">
                      <i class="ti ti-building-skyscraper"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="mb-0">Shipping Information</h5>
                  </div>
                </div>
              </a>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" id="ecomtab-tab-3" data-bs-toggle="tab" href="#ecomtab-3" role="tab"
                aria-controls="ecomtab-3" aria-selected="true">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="avtar avtar-s">
                      <i class="ti ti-credit-card"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="mb-0">Payment</h5>
                  </div>
                </div>
              </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane show active" id="ecomtab-1" role="tabpanel" aria-labelledby="ecomtab-tab-1">
        <div class="row gy-4">
          <div class="col-xl-8">
            <div class="card">
              <!-- <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height: 6px">
                      <div class="progress-bar bg-primary" style="width: 33%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <p class="mb-0 h6">Step 1</p>
                  </div>
                </div>
              </div> -->

              <!-- Cart header -->
              <div class="card-body border-bottom">
                <h5 class="mb-0">
                  Cart Item
                  <!-- <span class="ms-2 f-14 px-2 badge bg-light-secondary rounded-pill">
                    {{ UserCart[0]?.length || 0 }}
                  </span> -->
                </h5>
              </div>

              <!-- Table -->
              <div class="card-body p-0 table-body" *ngIf="UserCart && UserCart.length > 0">
                <div class="table-responsive">
                  <table class="table mb-0" id="pc-dt-simple">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th class="text-end">Base Price</th>
                        <th class="text-end">Attribute Price</th>
                        <th class="text-end">Total</th>
                        <th class="text-end">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of UserCart[0]?.lst_cart_product">
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                              <h5 class="mb-1">{{ item.product_name }}</h5>
                              <div *ngFor="let _item of item?.optionvaluesParsed">
                                <ng-container *ngIf="item?.optionvaluesParsed?.length > 0; else noOptions">
                                  <!-- <div *ngFor="let opt of _item.optionvaluesParsed"> -->
                                  <p class="text-sm text-muted mb-0">
                                    {{ _item?.timeslot_category }} - ₹{{ _item?.timeslot_price }}
                                    <br />
                                    {{_item?.route_category}} <br />
                                    {{_item?.repetition_category}} - ₹{{ _item?.repetition_price }} <br />
                                    {{_item?.from_date | date:'dd/MM/yyyy'}} to {{_item?.to_date | date:'dd/MM/yyyy'}}
                                  </p>
                                  <hr>
                                  <!-- </div> -->
                                </ng-container>
                              </div>

                              <ng-template #noOptions>
                                <p class="text-sm text-muted mb-0">No options</p>
                              </ng-template>
                            </div>
                          </div>
                        </td>
                        <td class="text-end">
                          <h5 class="mb-0">₹{{ item.base_amount}}</h5>
                        </td>
                        <td class="text-end">
                          <h5 class="mb-0">₹{{ item.attribute_amount}}</h5>
                        </td>
                        <td class="text-end">
                          <h5 class="mb-0">₹{{ item.total_amount}}</h5>
                        </td>
                        <td class="text-end">
                          <a href="javascript:void(0)" (click)="removeFromCart(item)"
                            class="avtar avtar-s btn-link-danger btn-pc-default">
                            <i class="ti ti-trash f-18"></i>
                          </a>
                        </td>
                      </tr>

                      <!-- If no items -->
                      <tr *ngIf="!UserCart[0] || UserCart[0].length === 0">
                        <td colspan="3" class="text-center text-muted">Your cart is empty</td>
                      </tr>
                    </tbody>
                  </table>
                  <swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?"
                    text="This cannot be undone" icon="warning" [showCancelButton]="true" [focusCancel]="true"
                    [customClass]="{confirmButton: 'btn btn-danger btn-sm', cancelButton: 'btn btn-active-light btn-sm'}">
                  </swal>

                  <swal #delsuccessSwal [swalOptions]="swalOptions" title="Delete successfully!" text="" icon="success"
                    [showConfirmButton]="false">
                  </swal>
                </div>

              </div>

            </div>
            <div class="text-end">
              <a [routerLink]="['/product']" class="btn btn-link-secondary d-inline-flex align-items-center"><i
                  class="ti ti-chevron-left me-2"></i>
                Back to Shopping</a>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-sm btn-link-secondary" data-bs-toggle="modal"
                  data-bs-target="#couponModal">
                  Have a coupon code?
                </button>
                <div class="input-group my-2">
                  <input type="text" class="form-control" placeholder="Discount Coupon" [(ngModel)]="Coupon_code_text">
                  <button class="btn btn-outline-secondary" type="button"
                    (click)="applycoupon()">{{this.Coupon_code_btn}}</button>
                </div>
              </div>
              <swal #successSwal [swalOptions]="swalOptions" title="Coupon Applied!" text="" icon="success"
                [showConfirmButton]="false">
              </swal>
              <swal #invalidcodeSwal [swalOptions]="swalOptions" title="Invalid Coupon!" text="" icon="warning"
                [showConfirmButton]="false">
              </swal>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <h5 class="mb-0">Order Summary</h5>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_subtotal}}</h5>
                    </div><span class="text-muted">Sub Total</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{coupon_code}}</h5>
                    </div><span class="text-muted">Coupon Code</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{this.cart_discount}}</h5>
                    </div><span class="text-muted">Coupon Discount</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_tax}}</h5>
                    </div><span class="text-muted">TAX</span>
                  </li>

                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_total}}</h5>
                    </div>
                    <h5 class="mb-0 d-inline-block">Total</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center text-muted">
                  <div class="avtar avtar-s bg-light-primary flex-shrink-0 me-2">
                    <i class="material-icons-two-tone text-primary f-20">security</i>
                  </div>
                  <span class="text-muted text-sm w-100">Safe & Secure Payment. Easy returns. 100% Athentic
                    products.</span>
                </div>
              </div>
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-primary" (click)="place_order()" type="button">Place an Order</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->
<!-- <ng-template #formModal let-modal> -->
<!-- <app-checkout *ngIf="this.is_payment" [payment_details]="this.razorpay_OrderAttribute"
  (pay_order)="proceeds_payment($event)"></app-checkout> -->
<swal #paysuccessSwal [swalOptions]="swalOptions" title="Order place successfully!" text="" icon="success"
  [showConfirmButton]="false">
</swal>
<swal #failureSwal [swalOptions]="swalOptions" title="Something went wrong. Please try again later. If the issue persists, kindly contact support." text="" icon="warning"
  [showConfirmButton]="false">
</swal>
<!-- </ng-template> -->