<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body p-0">
        <ul class="nav nav-tabs checkout-tabs mb-0" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="ecomtab-tab-1" data-bs-toggle="tab" href="#ecomtab-1" role="tab"
              aria-controls="ecomtab-1" aria-selected="true">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <div class="avtar avtar-s">
                    <i class="ti ti-shopping-cart"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-2">
                  <h5 class="mb-0">Cart Details</h5>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ecomtab-tab-2" data-bs-toggle="tab" href="#ecomtab-2" role="tab"
              aria-controls="ecomtab-2" aria-selected="false" (click)="loadShippingData()">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <div class="avtar avtar-s">
                    <i class="ti ti-building-skyscraper"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-2">
                  <h5 class="mb-0">Shipping Information</h5>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane show active" id="ecomtab-1" role="tabpanel" aria-labelledby="ecomtab-tab-1">
        <div class="row gy-4">
          <div class="col-xl-8">
            <section>
              <h2 class="cart-title"><span>Cart Item</span> <a
                  class="btn btn-warning mt-3 text-white cart-btn-removeall"
                  *ngIf="this.ismonthly && (UserCart && UserCart.length > 0)" (click)="removeFromCarts()">Remove
                  Monthly/Daily Package</a></h2>

              <div class="cart-list" *ngIf="UserCart && UserCart.length > 0">

                <!-- Card 1 -->
                <div class="cart-card" *ngFor="let item of UserCart[0]?.lst_cart_product; let _ind=index">
                  <div class="card-header">
                    <h4>{{ item.product_name }}</h4>
                    <div class="delete-btn" *ngIf="!item.ismonthly && !item.isdaily"> <span
                        (click)="removeFromCart(item,_ind)">✕</span>
                    </div>
                  </div>
                  <div class="card-body">
                    <ng-container *ngIf="item?.optionvaluesParsed?.length > 0; else noOptions">
                      <ng-container *ngFor="let _item of item?.optionvaluesParsed">
                        <!-- <div class="card-row"><strong>Base Price:</strong> ₹{{_item?.base_amount}}</div> -->
                        <div class="card-row"><strong>Time Slot:</strong> {{_item?.timeslot_category}}
                          (₹{{_item?.timeslot_price}})</div>
                        <div class="card-row"><strong>Location/Route:</strong> {{_item?.route_category}}</div>
                        <div class="card-row"><strong>Screen Repetition:</strong> {{_item?.repetition_category}} {{
                          (_item?.repetition_price && _item?.repetition_price != 0) ? '(₹' + _item?.repetition_price +
                          ')' : '' }}</div>
                        <div class="card-row"><strong>Screen Interval:</strong> {{_item?.interval_category}} {{
                          (_item?.interval_price && _item?.interval_price != 0) ? '(₹' + _item?.interval_price + ')' :
                          '' }}</div>
                        <div class="card-row"><strong>Duration:</strong> {{_item?.from_date | date:'dd/MM/yyyy'}} to
                          {{_item?.to_date | date:'dd/MM/yyyy'}} {{ (_item?.date_total && _item?.date_total != 0) ? '(₹'
                          + _item?.date_total + ')' : '' }}</div>
                      </ng-container>
                    </ng-container>
                    <ng-template #noOptions>
                      <p class="text-sm text-muted mb-0">No options</p>
                    </ng-template>
                  </div>
                  <div class="card-footer">
                    <div><strong>{{ item.product_name }} Total</strong></div>
                    <div class="price-tag">₹<ng-container *ngFor="let opt of item.optionvaluesParsed; let last = last">
                        {{ (this._base._commonService.formatAmount(opt.total_amount))}}{{ last ? '' : ', ' }}
                      </ng-container></div>
                  </div>
                </div>

              </div>
              <div *ngIf="!UserCart || UserCart?.length === 0"> <span class="text-center text-muted">Your cart is
                  empty</span></div>
            </section>
            <!-- </div> -->
            <!-- <div class="row">
              <div class="col-12">
                <div class="text-end btn-page mb-0 mt-4 p-10">
                  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                  data-bs-target=".multi-collapse" aria-expanded="false"
                  aria-controls="multiCollapseExample1 multiCollapseExample2">Cancel</button>
                  <div [hidden]="!this._base._commonService.hasAccessofcontrol('admin_managebanner_newbtn')">
                  <button class="btn btn-primary" (click)="openraisequote()" type="button">Raise Quotation</button>
                  </div>
                  &nbsp;
                  <button class="btn btn-primary" (click)="goToShipping()" type="button"
                    [ngClass]="{'disabled':this.cart_subtotal==0}">Continue to
                    checkout</button>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-12">
                <div class="text-end btn-page mb-0 mt-4 p-10 d-flex justify-content-end align-items-center gap-2">

                  <div [hidden]="!this._base._commonService.hasAccessofcontrol('admin_raisedquotation_raisequotationbtn')">
                    <button class="btn btn-primary" (click)="openraisequote()" type="button">
                      Raise Quotation
                    </button>
                  </div>

                  <button class="btn btn-primary" (click)="goToShipping()" type="button"
                    [ngClass]="{'disabled': this.cart_subtotal == 0}">
                    Continue to checkout
                  </button>

                </div>
              </div>
            </div>
            <!-- <div class="text-end">
              <a [routerLink]="['/product']" class="btn btn-link-secondary d-inline-flex align-items-center"><i
                  class="ti ti-chevron-left me-2"></i>
                Back to Shopping</a>
            </div> -->
          </div>
          <div class="col-xl-4">
            <div class="card">


              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Sales Person</label>
                    <input type="text" class="form-control" placeholder="Enter name" autocomplete="off"
                      autocorrect="off" spellcheck="false" [(ngModel)]="sales_person_name" #salespersonname="ngModel">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter mobile number" pattern="^[0-9]\d{9}$"
                      maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" autocorrect="off"
                      spellcheck="false" [(ngModel)]="sales_person_mobile" #salespersonmobile="ngModel">
                  </div>
                </div>
                <div class="border-bottom"></div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Referal Person</label>
                    <input type="text" class="form-control" placeholder="Enter name" autocomplete="off"
                      autocorrect="off" spellcheck="false" [(ngModel)]="referal_person_name"
                      #referalpersonname="ngModel">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter mobile number" pattern="^[0-9]\d{9}$"
                      maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" autocorrect="off"
                      spellcheck="false" [(ngModel)]="referal_person_mobile" #referalpersonmobile="ngModel">
                  </div>
                </div>
              </div>
            </div>
            <div class="card">


              <div class="card-body">
                <!-- Coupon Input (outside) -->
                <div class="input-group my-2">
                  <!-- <input type="text" class="form-control" [ngClass]="{'disabled': (this.Coupon_code_btn=='Remove')}"
                    placeholder="Discount Coupon" [(ngModel)]="Coupon_code_text" #couponCode="ngModel"> -->

                  <input type="text" class="form-control" [ngClass]="{'disabled': (Coupon_code_btn == 'Remove')}"
                    placeholder="Discount Coupon" [(ngModel)]="Coupon_code_text" #couponCode="ngModel">

                  <button class="btn btn-outline-secondary" type="button"
                    (click)="this.Coupon_code_btn =='Apply' ? applycoupon():removecouponcode();">
                    {{this.Coupon_code_btn}}
                  </button>
                </div>
                <span> <a data-bs-toggle="offcanvas" class="text-primary" data-bs-target="#couponOffcanvas"
                    aria-controls="couponOffcanvas" style="cursor: pointer;">Grab Coupon!</a></span>

                <div *ngIf="is_valid" class="text-warning mt-1">
                  Please enter valid coupon code.
                </div>
              </div>

              <swal #successSwal [swalOptions]="swalOptions" title="Coupon Applied!" text="" icon="success"
                [showConfirmButton]="false">
              </swal>
              <swal #invalidcodeSwal [swalOptions]="swalOptions" title="Invalid Coupon!" text="" icon="warning"
                [showConfirmButton]="false">
              </swal>
              <swal #removecouponSwal [swalOptions]="swalOptions" title="Coupon removed!" text="" icon="success"
                [showConfirmButton]="false">
              </swal>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <h5 class="mb-0">Order Summary</h5>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_subtotal}}</h5>
                    </div><span class="text-muted">Sub Total</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{coupon_code}}</h5>
                    </div><span class="text-muted">Coupon Code</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{this.cart_discount}}</h5>
                    </div><span class="text-muted">Coupon Discount</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_tax}}</h5>
                    </div><span class="text-muted">TAX</span>
                  </li>

                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_total}}</h5>
                    </div>
                    <h5 class="mb-0 d-inline-block">Total</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center text-muted">
                  <div class="avtar avtar-s bg-light-primary flex-shrink-0 me-2">
                    <i class="material-icons-two-tone text-primary f-20">security</i>
                  </div>
                  <span class="text-muted text-sm w-100">Safe & Secure Payment. Easy returns. 100% Athentic
                    products.</span>
                </div>
              </div>
            </div>
            <!-- <div class="d-grid mb-3"
              [ngClass]="{'disabled':this.cart_total <= 0 || (this.cart_total==undefined || this.cart_total==null)}">
              <button class="btn btn-primary" (click)="place_order()" type="button">Place an Order</button>
            </div> -->
          </div>
        </div>

      </div>

      <!-- Personal Information-->
      <div class="tab-pane" id="ecomtab-2" role="tabpanel" aria-labelledby="ecomtab-tab-2">
        <div class="row gy-4">
          <div class="col-xl-8">
            <form [formGroup]="fguser">
              <div class="card">
                <!-- <div class="collapse multi-collapse" id="multiCollapseExample2"> -->
                <div class="card-body border-bottom">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="mb-0">Add/Update address</h5>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <ng-container *ngIf="this.detailupdated">
                    <div class="mb-lg-15 alert alert-success">
                      <div class="primary-text font-weight-bold">
                        User information and address has been updated.
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="this.emptycartmessage">
                    <div class="mb-lg-15 alert alert-danger">
                      <div class="primary-text font-weight-bold">
                        You cart is empty!
                      </div>
                    </div>
                  </ng-container>

                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3 row align-items-center g-2">
                        <label class="col-lg-4 col-form-label py-0 required">FullName :<small
                            class="text-muted d-block">Enter
                            your fullname</small></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="fullname" name="fullname"
                            formControlName="fullname">
                          <div
                            *ngIf="fguser.controls['fullname'].invalid && (fguser.controls['fullname'].dirty || fguser.controls['fullname'].touched)"
                            class="text-danger">
                            <ng-container *ngIf="fguser.controls.fullname.errors?.['required']">
                              Fullname is required.
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 row align-items-center g-2">
                        <label class="col-lg-4 col-form-label py-0 required">Email Id :<small
                            class="text-muted d-block">Enter
                            Email id</small></label>
                        <div class="col-lg-8">
                          <input type="email" class="form-control" id="email_id" name="email_id"
                            formControlName="email_id">
                          <div
                            *ngIf="fguser.controls['email_id'].invalid && (fguser.controls['email_id'].dirty || fguser.controls['email_id'].touched)"
                            class="text-danger">
                            <ng-container *ngIf="fguser.controls.email_id.errors?.['required']">
                              Email_id is required.
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 row align-items-center g-2">
                        <label class="col-lg-4 col-form-label py-0 required">Address :<small
                            class="text-muted d-block">Enter
                            Address</small></label>
                        <div class="col-lg-8">
                          <textarea class="form-control" rows="3" placeholder="Enter Address" id="address"
                            name="address" formControlName="address"></textarea>
                          <div
                            *ngIf="fguser.controls['address'].invalid && (fguser.controls['address'].dirty || fguser.controls['address'].touched)"
                            class="text-danger">
                            <ng-container *ngIf="fguser.controls.address.errors?.['required']">
                              Address is required.
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="text-end btn-page mb-0 mt-4">
                <button class="btn btn-outline-secondary" type="button" (click)="goToCartTab()">Previous</button>
                <button class="btn btn-primary" (click)="updateUser()">Save & Process order</button>
              </div>
            </form>
            <!-- <div class="d-flex justify-content-end mb-3">
              <button class="btn btn-link-primary" type="button" (click)="goToCartTab()">
                <i class="ti ti-arrow-narrow-left align-text-bottom me-2"></i>
                Back to Cart
              </button>
            </div> -->
          </div>
          <div class="col-xl-4">
            <div class="card">


              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Sales Person</label>
                    <input type="text" class="form-control" placeholder="Enter name" autocomplete="off"
                      autocorrect="off" spellcheck="false" [(ngModel)]="sales_person_name" #salespersonname="ngModel">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter mobile number" pattern="^[0-9]\d{9}$"
                      maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" autocorrect="off"
                      spellcheck="false" [(ngModel)]="sales_person_mobile" #salespersonmobile="ngModel">
                  </div>
                </div>
                <div class="border-bottom"></div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Referal Person</label>
                    <input type="text" class="form-control" placeholder="Enter name" autocomplete="off"
                      autocorrect="off" spellcheck="false" [(ngModel)]="referal_person_name"
                      #referalpersonname="ngModel">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter mobile number" pattern="^[0-9]\d{9}$"
                      maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" autocorrect="off"
                      spellcheck="false" [(ngModel)]="referal_person_mobile" #referalpersonmobile="ngModel">
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <!-- Coupon Input (outside) -->
                <div class="input-group my-2">
                  <!-- <input type="text" class="form-control" [ngClass]="{'disabled': (this.Coupon_code_btn=='Remove')}"
                    placeholder="Discount Coupon" [(ngModel)]="Coupon_code_text" #couponCode="ngModel"> -->

                  <input type="text" class="form-control" [ngClass]="{'disabled': (Coupon_code_btn == 'Remove')}"
                    placeholder="Discount Coupon" [(ngModel)]="Coupon_code_text" #couponCode="ngModel">

                  <button class="btn btn-outline-secondary" type="submit"
                    (click)="this.Coupon_code_btn =='Apply' ? applycoupon():removecouponcode();">
                    {{this.Coupon_code_btn}}
                  </button>
                </div>
                <span> <a data-bs-toggle="offcanvas" class="text-primary" data-bs-target="#couponOffcanvas"
                    aria-controls="couponOffcanvas" style="cursor: pointer;">Grab Coupon!</a></span>

                <div *ngIf="is_valid" class="text-warning mt-1">
                  Please enter valid coupon code.
                </div>
              </div>
              <swal #successSwal [swalOptions]="swalOptions" title="Coupon Applied!" text="" icon="success"
                [showConfirmButton]="false">
              </swal>
              <swal #invalidcodeSwal [swalOptions]="swalOptions" title="Invalid Coupon!" text="" icon="warning"
                [showConfirmButton]="false">
              </swal>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <h5 class="mb-0">Order Summary</h5>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_subtotal}}</h5>
                    </div><span class="text-muted">Sub Total</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{coupon_code}}</h5>
                    </div><span class="text-muted">Coupon Code</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">{{this.cart_discount}}</h5>
                    </div><span class="text-muted">Coupon Discount</span>
                  </li>
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_tax}}</h5>
                    </div><span class="text-muted">TAX</span>
                  </li>

                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body py-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="float-end">
                      <h5 class="mb-0">₹{{this.cart_total}}</h5>
                    </div>
                    <h5 class="mb-0 d-inline-block">Total</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center text-muted">
                  <div class="avtar avtar-s bg-light-primary flex-shrink-0 me-2">
                    <i class="material-icons-two-tone text-primary f-20">security</i>
                  </div>
                  <span class="text-muted text-sm w-100">Safe & Secure Payment. Easy returns. 100% Athentic
                    products.</span>
                </div>
              </div>
            </div>
            <!-- <div class="d-grid mb-3"
              [ngClass]="{'disabled':this.cart_total <= 0 || (this.cart_total==undefined || this.cart_total==null)}">
              <button class="btn btn-primary" (click)="place_order()" type="button">Place an Order</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->
<!-- <ng-template #formModal let-modal> -->
<!-- <app-checkout *ngIf="this.is_payment" [payment_details]="this.razorpay_OrderAttribute"
  (pay_order)="proceeds_payment($event)"></app-checkout> -->
<swal #paysuccessSwal [swalOptions]="swalOptions" title="Order placed successfully." text="" icon="success"
  [showConfirmButton]="false">
</swal>
<swal #failureSwal [swalOptions]="swalOptions"
  title="Something went wrong. Please try again later. If the issue persists, kindly contact support." text=""
  icon="warning" [showConfirmButton]="false">
</swal>
<!-- </ng-template> -->

<swal #deleteSwal [swalOptions]="swalOptions" title="Remove from Cart?"
  text="Are you sure you want to remove this item from cart?" icon="warning" [showCancelButton]="true"
  [focusCancel]="true"
  [customClass]="{confirmButton: 'btn btn-danger btn-sm', cancelButton: 'btn btn-outline-secondary btn-sm'}">
</swal>

<swal #delsuccessSwal [swalOptions]="swalOptions" title="Item removed from cart successfully." text="" icon="success"
  [showConfirmButton]="false">
</swal>
<div class="offcanvas offcanvas-end" tabindex="-1" id="couponOffcanvas" aria-labelledby="couponOffcanvasLabel">

  <div class="offcanvas-header">
    <h5 id="couponOffcanvasLabel">Coupons</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div *ngFor="let coupon of couponList"
      class="border rounded p-3 mb-3 d-flex justify-content-between align-items-center"
      [ngStyle]="{'background': coupon.colorSet.bg, 'border':'1px dashed ' + coupon.colorSet.border}">

      <!-- Left: Coupon details -->
      <div>
        <h6 class="fw-bold mb-1">{{coupon.coupon_code}}</h6>
        <small>
          <!-- Code: <b></b><br> -->
          Discount: {{coupon.discount_value}}
        </small>
      </div>

      <!-- Right: Apply Button -->
      <div class="text-end">
        <button class="btn btn-sm mt-2" [ngClass]="coupon.colorSet.btn" data-bs-dismiss="offcanvas" aria-label="Close"
          (click)="applySuggestedCoupon(coupon.coupon_id,coupon.coupon_code)">Apply</button>
      </div>
    </div>

    <!-- No coupon fallback -->
    <div *ngIf="couponList.length === 0" class="text-muted text-center">
      No coupons available
    </div>
  </div>
</div>

<ng-template #formModal let-modal>
  <form [formGroup]="fgverify">
    <div class="modal-body p-5">

      <!-- Title -->
      <h4 class="fw-bold text-center mb-1">Login with OTP</h4>
      <!-- <p class="text-center mb-4">
      Don't have an Account? 
      <a href="#" class="text-primary fw-semibold">Create Account</a>
    </p> -->
      <ng-container *ngIf="this.invalidOTP">
        <div class="mb-lg-15 alert alert-success">
          <div class="primary-text font-weight-bold">
            Invalid OTP
          </div>
        </div>
      </ng-container>
      <div class="mb-3">
        <label class="form-label fw-bold">Mobile Number</label>
        <input type="text" class="form-control" id="mobile_number" name="mobile_number"
          [ngClass]="{'disabled':this.isOTPsen}" placeholder="Enter Mobile Number" pattern="^[0-9]\d{9}$" maxlength="10"
          onkeypress="return /[0-9]/i.test(event.key)" formControlName="mobile_number" required>
        <div
          *ngIf="fgverify.controls['mobile_number'].invalid && (fgverify.controls['mobile_number'].dirty || fgverify.controls['mobile_number'].touched)"
          class="text-danger">
          <ng-container *ngIf="fgverify.controls.mobile_number.errors?.['required']">
            mobile_number is required.
          </ng-container>
        </div>
      </div>

      <div class="mb-3" *ngIf="this.isOTPsent">
        <label class="form-label fw-bold">OTP</label>
        <input type="text" class="form-control" id="otp_code" name="otp_code" placeholder="Enter OTP"
          onkeypress="return /[0-9]/i.test(event.key)" maxlength="6" formControlName="otp_code" required>
        <div
          *ngIf="fgverify.controls['otp_code'].invalid && (fgverify.controls['otp_code'].dirty || fgverify.controls['otp_code'].touched)"
          class="text-danger">
          <ng-container *ngIf="fgverify.controls.otp_code.errors?.['required']">
            otp_code is required.
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">{{this.OTPValue}}</label>
      </div>

      <div class="d-grid mb-3">
        <ng-container *ngIf="!this.isOTPsen && !this.isverifybutton">
          <button type="submit" class="btn btn-primary" (click)="verify_number('MOBILE_VERIFY')">Send
            OTP</button>
        </ng-container>
        <ng-container *ngIf="this.isverifybutton">
          <button type="submit" class="btn btn-primary" (click)="verify_number('MOBILE_VERIFY')">Verify
            OTP</button>
        </ng-container>
      </div>
    </div>
  </form>
</ng-template>

<swal #loginsuccessSwal [swalOptions]="swalOptions" title="Cart updated successfully!" text="" icon="success"
  [showConfirmButton]="false">
</swal>

<swal #deletepackageSwal [swalOptions]="swalOptions" title="Remove all product from basic package?"
  text="Are you sure you want to remove this item from cart?" icon="warning" [showCancelButton]="true"
  [focusCancel]="true"
  [customClass]="{confirmButton: 'btn btn-danger btn-sm', cancelButton: 'btn btn-outline-secondary btn-sm'}">
</swal>


<ng-template #formRaiseQuote let-modal>
  <div class="modal-header">
    <h4>Raise Quotation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="fgrasiequote">
      <div class="mb-3">
        <label class="form-label fw-bold">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter name" autocomplete="off" autocorrect="off"
          spellcheck="false" formControlName="fullname">

      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Mobile Number</label>
        <input type="text" class="form-control" placeholder="Enter mobile number" pattern="^[0-9]\d{9}$" maxlength="10"
          onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" autocorrect="off" spellcheck="false"
          formControlName="mobile_number">
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Email ID</label>
        <input type="email" class="form-control" placeholder="Enter EmailId" id="email_id" name="email_id"
          formControlName="email_id">
        <div
          *ngIf="fguser.controls['email_id'].invalid && (fguser.controls['email_id'].dirty || fguser.controls['email_id'].touched)"
          class="text-danger">
          <!-- <ng-container *ngIf="fguser.controls.email_id.errors?.['required']">
            Email_id is required.
          </ng-container> -->
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Address</label>
        <textarea formControlName="address" class="form-control" rows="4" placeholder="Enter your message">
      </textarea>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-secondary">
          Cancel
        </button>
        &nbsp; <button type="submit" class="btn btn-primary" (click)="raise_quotation()">
          Submit
        </button>
      </div>
      <swal #qoutesuccessSwal [swalOptions]="swalOptions" title="Quotation Raised." text="" icon="success"
        [showConfirmButton]="false">
      </swal>
    </form>
  </div>
</ng-template>