
<div class="card">
  <div class="card-body" id="invoiceSection">
    <div class="row g-3">
      <div class="col-12">
        <div class="row align-items-center g-3">
          <div class="col-sm-6">
            <div class="d-flex align-items-center mb-2">
              <img src="../../assets/images/onescreenlogo.png" class="img-fluid" alt="images">
            </div>
          </div>
          <div class="col-sm-6 text-sm-end">
            <h6>Date : <span class="text-muted f-w-400">{{invoicedetailsmaster?.createddatetime |
                date:'dd/MM/yyyy'}}</span></h6>
            <h6>Invoice# : <span class="text-muted f-w-400">{{invoicedetailsmaster?.order_number}}</span></h6>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="border rounded p-3">
          <h6 class="mb-0">To:</h6>
          <h5>{{invoicedetailsmaster?.fullname}}</h5>
          <p class="mb-0">{{invoicedetailsmaster?.address}}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="border rounded p-3">
          <h6 class="mb-0">From:</h6>
          <h5>OneScreen</h5>
          <p class="mb-0">3rd Floor, Shop No.302, International Finance Centre, Vesu, Surat, Gujarat, 395007</p>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th style="text-align: right;">SubTotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of invoicedetailsmaster?.optionvalues; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  {{ invoicedetailsmaster?.product_name }}
                  <p class="text-sm text-muted mb-0">
                    {{ item?.timeslot_category }} {{ (item?.timeslot_price && item?.timeslot_price != 0) ? '(₹' +
                    item?.timeslot_price + ')' : '' }} <br />
                    {{ item?.repetition_category }} {{ (item?.repetition_price && item?.repetition_price != 0) ? '(₹' +
                    item?.repetition_price + ')' : '' }} <br />
                    {{ item?.interval_category }} {{ (item?.interval_price && item?.interval_price != 0) ? '(₹' +
                    item?.interval_price + ')' : '' }}<br />
                    {{ item?.from_date | date:'dd/MM/yyyy' }} to {{ item?.to_date | date:'dd/MM/yyyy' }}
                  </p>
                </td>
                <td style="text-align: right;">₹{{ item.total_amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-start">
          <hr class="mb-2 mt-1">
        </div>
      </div>
      <div class="col-12">
        <div class="invoice-total ms-auto">
          <div class="row">
            <div class="col-6">
              <p class="text-muted mb-1 text-start">Sub Total :</p>
            </div>
            <div class="col-6">
              <p class="f-w-600 mb-1 text-end">₹{{invoicedetailsmaster?.order_subtotal}}</p>
            </div>
            <div class="col-6">
              <p class="text-muted mb-1 text-start">Discount :</p>
            </div>
            <div class="col-6">
              <p class="f-w-600 mb-1 text-end text-success">₹{{invoicedetailsmaster?.order_discount}}</p>
            </div>
            <div class="col-6">
              <p class="text-muted mb-1 text-start">Taxes :</p>
            </div>
            <div class="col-6">
              <p class="f-w-600 mb-1 text-end">₹{{invoicedetailsmaster?.order_tax}}</p>
            </div>
            <div class="col-6">
              <p class="f-w-600 mb-1 text-start">Grand Total :</p>
            </div>
            <div class="col-6">
              <p class="f-w-600 mb-1 text-end">₹{{invoicedetailsmaster?.order_total}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <label class="form-label">Note</label>
        <p class="mb-0">It was a pleasure working with you and your team. Thank You!</p>
      </div>
    </div>
  </div>
</div>
<div class="row d-print-none align-items-center justify-content-end">
  <div class="col-auto btn-page">
    <a class="btn btn-outline-primary" routerLink="/app/orders">Cancel</a>
    <button class="btn btn-outline-primary btn-print-invoice" (click)="downloadPDF()">Download</button>
  </div>
</div>
