<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Manage Banner</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="fgbanner">
                            <div class="row mb-6">
                                <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                                    [controlObject]="fgbanner.controls['thumbnail']"
                                    [fileConfig]="this.fileConfig['thumbnail']">
                                </webd-mediauploader>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control " id="title" name="title" placeholder="Title"
                                        formControlName="title" required>
                                    <div *ngIf="fgbanner.controls['title'].invalid && (fgbanner.controls['title'].dirty || fgbanner.controls['title'].touched)"
                                        class="text-danger">
                                        <ng-container *ngIf="fgbanner.controls.title.errors?.['required']">
                                            Title is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Sub-Title</label>
                                    <input type="text" class="form-control " id="subtitle" name="subtitle"
                                        placeholder="Sub-Title" formControlName="subtitle">
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">URL</label>
                                    <input type="text" class="form-control " id="url" name="url" placeholder="Enter URL"
                                        formControlName="url">
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">TypeMaster</label>
                                    <webd-multiselect [data]="TypeMaster" class="col-sm-3 col-form-label"
                                        textField='typemaster' name="typemaster" valueField='typemaster_id'
                                        [formControl]="fgbanner?.controls?.lsttypemaster"
                                        placeholder="Select Type Master" [config]="_configType"
                                        (onSelection)="onSelectionChange($event)">
                                    </webd-multiselect>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Catagory</label>
                                    <webd-multiselect [data]="CategoryMaster" class="col-sm-3 col-form-label"
                                        textField='category' name="categorymaster" valueField='category_id'
                                        [formControl]="fgbanner?.controls?.lstcategory"
                                        placeholder="Select Catagory Master" [config]="_configCategory">
                                    </webd-multiselect>
                                    <div *ngIf="fgbanner.controls['lstcategory'].touched && fgbanner.controls['lstcategory'].invalid"
                                        class="text-danger">
                                        <ng-container *ngIf="fgbanner.controls['lstcategory'].errors?.['required']">
                                            Category is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Label/Tags</label>
                                    <webd-multiselect [data]="LabelMaster" class="col-sm-3 col-form-label"
                                        textField='label' valueField='label_id'
                                        [formControl]="fgbanner?.controls?.lstlabel" name="labelmaster"
                                        placeholder="Select Label Master" [config]="_configLabel">
                                    </webd-multiselect>
                                </div>

                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Display Order</label>
                                    <input type="number" min="0" class="form-control" id="displayorder"
                                        name="displayorder" placeholder="0" formControlName="displayorder"
                                        onkeypress="numberOnly($event)" />
                                </div>

                            </div>
                            <div class="mb-6">
                                <div class="mb-12">
                                    <label class="form-label">Short Description</label>
                                    <webd-texteditor [formGroupTextArea]="this.fgbanner.controls['textarea']">
                                    </webd-texteditor>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3 form-check">
                                    <label>IsFeatured</label>
                                    <input type="checkbox" class="form-check-input" id="isFeatured"
                                        formControlName="isfeatured">
                                </div>
                                <div class="col-lg-4 mb-3 form-check">
                                    <label>Published</label>
                                    <input type="checkbox" class="form-check-input" id="isPublished"
                                        formControlName="isactive">
                                </div>
                            </div>
                            <a class="btn btn-outline-secondary mb-4" routerLink="/app/managebanner">Back</a>
                            &nbsp;
                            <button type="submit" class="btn btn-primary mb-4" (click)="setbanner(true)">Submit</button>
                            
                            <swal #successSwal [swalOptions]="swalOptions" title="Save successfully!" text=""
                                icon="success" [showConfirmButton]="false">
                            </swal>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>