<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Manage Banner</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="row mb-6">
                                <!-- <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                                    [controlObject]="fgcategorymaster.controls['thumbnail']"
                                    [fileConfig]="this.fileConfig['thumbnail']">
                                </webd-mediauploader> -->
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control form-control-lg" id="title" name="title"
                                        placeholder="Title" formControlName="title" required>
                                    <div *ngIf="fgbanner.controls['title'].invalid && (fgbanner.controls['title'].dirty || fgbanner.controls['title'].touched)"
                                        class="text-danger">
                                        <ng-container *ngIf="fgbanner.controls.title.errors?.['required']">
                                            Title is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Sub-Title</label>
                                    <input type="text" class="form-control form-control-lg" id="subtitle"
                                        name="subtitle" placeholder="Sub-Title" formControlName="subtitle">
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">URL</label>
                                    <input type="text" class="form-control form-control-lg" id="url" name="url"
                                        placeholder="Enter URL" formControlName="url">
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">TypeMaster</label>
                                    <input type="text" class="form-control form-control-lg" id="displayorder"
                                        name="displayorder" placeholder="TypeMaster" formControlName="displayorder">
                                    <!-- <select-mul [data]="TypeMaster" class="col-sm-3 col-form-label" textField='typemaster'
                                    name="typemaster" valueField='typemaster_id'
                                    [formControl]="fgbanner?.controls?.lsttypemaster" placeholder="Select Type Master"
                                    [config]="_configType" (onSelection)="onSelectionChange($event)">
                                </select-mul> -->
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Catagory</label>
                                    <input type="text" class="form-control form-control-lg" id="displayorder"
                                        name="displayorder" placeholder="Catagory" formControlName="displayorder">
                                    <!-- <select-mul [data]="CategoryMaster" class="col-sm-3 col-form-label" textField='category'
                                    name="categorymaster" valueField='category_id'
                                    [formControl]="fgbanner?.controls?.lstcategory" placeholder="Select Catagory Master"
                                    [config]="_configCategory">
                                    </select-mul> -->
                                    <div *ngIf="fgbanner.controls['lstcategory'].touched && fgbanner.controls['lstcategory'].invalid"
                                        class="text-danger">
                                        <ng-container *ngIf="fgbanner.controls['lstcategory'].errors?.['required']">
                                            Category is required.
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Label/Tags</label>
                                    <input type="text" class="form-control form-control-lg" id="displayorder"
                                        name="displayorder" placeholder="TypeMaster" formControlName="displayorder">
                                    <!-- <select-mul [data]="LabelMaster" class="col-sm-3 col-form-label" textField='label'
                                    valueField='label_id' [formControl]="fgbanner?.controls?.lstlabel"
                                    name="labelmaster" placeholder="Select Label Master" [config]="_configLabel">
                                    </select-mul> -->
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Short Description</label>
                                    <input type="text" class="form-control form-control-lg" id="displayorder"
                                        name="displayorder" placeholder="Short Description"
                                        formControlName="displayorder">
                                    <!-- <webd-textarea [formGroupTextArea]="this.fgbanner.controls['textarea']">
                                    </webd-textarea> -->
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Display Order</label>
                                    <input type="number" min="0" class="form-control" id="displayorder"
                                        name="displayorder" placeholder="0" formControlName="displayorder"
                                        onkeypress="numberOnly($event)" />
                                </div>

                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-3 form-check">
                                    <label class="form-label"></label>
                                    <label>IsFeatured</label>
                                    <input type="checkbox" class="form-check-input" id="isFeatured"
                                        formControlName="isfeatured">
                                    <span class="new-control-indicator"></span>
                                </div>
                                <div class="col-lg-4 mb-3 form-check">
                                    <label class="form-label"></label>
                                    <label>Published</label>
                                    <input type="checkbox" class="form-check-input" id="isPublished"
                                        formControlName="isactive">
                                    <span class="new-control-indicator"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4">Submit</button>
                            &nbsp;
                            <button type="submit" class="btn btn-secondary mb-4">Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>