<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a routerLink="/app/dashboard" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <img src="../../../assets/images/webdroids_logo.png" alt="logo image" class="logo-lg" />
        <span class="badge bg-brand-color-2 rounded-pill ms-2 theme-version">v1.0</span>
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-hasmenu">
          <a class="pc-link">
            <span class="pc-micon">
              <i class="ph-duotone ph-gauge"></i>
            </span>
            <span class="pc-mtext">Dashboard</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
            <span class="pc-badge">2</span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="../dashboard/index.html">Analytics</a></li>
            <li class="pc-item"><a class="pc-link" href="../dashboard/affiliate.html">Affiliate</a></li>
            <li class="pc-item"><a class="pc-link" href="../dashboard/finance.html">Finance</a></li>
            <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-dashboard.html">Helpdesk</a></li>
            <li class="pc-item"><a class="pc-link" href="../dashboard/invoice.html">Invoice</a></li>
          </ul>
        </li>
        <ng-container *ngFor="let menu of menuStructure">
          <li class="pc-item" *ngIf="menu.children.length == 0">
            <ng-container
              *ngIf="menu.modulerouting != '' && menu.modulerouting!=undefined && menu.modulerouting!=null && menu.modulerouting!='/'">
              <a class="pc-link" id="#{{(menu.module_identifier)}}" [routerLink]="menu.modulerouting"
                routerLinkActive="active">
                <span class="pc-micon">
                  <i class="{{menu.moduleicon}}"></i>
                </span>
                <span class="pc-mtext">{{menu.modulename}}</span>

              </a>
            </ng-container>
          </li>
          <ng-container *ngIf="menu.children.length > 0">
            <li class="pc-item pc-hasmenu">
              <a class="pc-link">
                <span class="pc-micon">
                  <i class="ph-duotone ph-gauge"></i>
                </span>
                <span class="pc-mtext">{{menu.modulename}}</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <ng-container *ngFor="let childmenu of menu.children">

                  <li class="pc-item"><a class="pc-link" [routerLink]="childmenu.modulerouting"
                      routerLinkActive="active">{{childmenu.modulename}}</a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>

        </ng-container>

      </ul>
      <div class="card nav-action-card bg-brand-color-4">
        <div class="card-body" style="background-image: url('../assets/images/layout/nav-card-bg.svg')">
          <h5 class="text-dark">Help Center</h5>
          <p class="text-dark text-opacity-75">Please contact us for more questions.</p>
          <a href="https://phoenixcoded.support-hub.io/" class="btn btn-primary" target="_blank">Go to help Center</a>
        </div>
      </div>
    </div>
    <div class="card pc-user-card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="../assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar wid-45 rounded-circle" />
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="dropdown">
              <a href="#" class="arrow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-offset="0,20">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-2">
                    <h6 class="mb-0">Jonh Smith</h6>
                    <small>Administrator</small>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="btn btn-icon btn-link-secondary avtar">
                      <i class="ph-duotone ph-windows-logo"></i>
                    </div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu">
                <ul>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-user"></i>
                      <span>My Account</span>
                    </a>
                  </li>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-gear"></i>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-lock-key"></i>
                      <span>Lock Screen</span>
                    </a>
                  </li>
                  <li>
                    <a class="pc-user-links">
                      <i class="ph-duotone ph-power"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>