<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <!-- <div class="col-md-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0)">Online Courses</a></li>
            <li class="breadcrumb-item" aria-current="page">Media Approver</li>
          </ul>
        </div> -->
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Order Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">

        <div class="order-card-container">
            <article class="order-card" *ngFor="let _obj of this.pendingMedia">

                <div class="order-card-body">
                    <div class="row">
                        <h3 class="order-title">Order ID : <span>{{_obj.order_number}}</span></h3>
                    </div>
                    <div class="row-manage">
                        <div>
                            <h3 class="order-title">{{_obj.product_name}}: <span>{{_obj.time_slot_value}}</span></h3>
                            <div class="order-muted">{{_obj.from_date | date: 'dd-MMM-yyyy' }} to
                                {{_obj.to_date| date: 'dd-MMM-yyyy' }} </div>
                        </div>

                        <div class="order-actions">
                            <!-- <ng-container *ngIf="_obj.is_media_upload !== null"> -->
                                <button (click)="openvideo(_obj.thumbnail)" class="btn btn-outline-primary" title="View Media">
                                    <span class="ms-1">View Media</span>
                                </button>
                            <!-- </ng-container> -->
                            <ng-container
                                *ngIf="this._base._commonService.hasAccessofcontrol('admin_uploadmedia_action_approved') && _obj.is_media_approved!= 1">
                                <button (click)="media_approved(_obj.order_product_map_id,1)" class="btn primary_btn"
                                    title="Approve">
                                    <span class="ms-1">Approve</span>
                                </button>

                                <button (click)="openModal(_obj.order_product_map_id)" class="btn btn-outline-primary"
                                    title="Reject">
                                    <span class="ms-1">Reject</span>
                                </button>
                            </ng-container>
                        </div>
                    </div>

                    <div class="order-meta-grid" style="margin-top:10px;">
                        <div class="order-meta">
                            <div class="order-muted">Route</div>
                            <strong>{{_obj.route_category}}</strong>
                        </div>

                        <div class="order-meta">
                            <div class="order-muted">Interval</div>
                            <strong>{{_obj.interval_value}}</strong>
                        </div>

                        <div class="order-meta">
                            <div class="order-muted">Repetition</div>
                            <strong>{{_obj.repetition_value}}</strong>
                        </div>

                        <div class="order-meta"
                            style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;">
                            <div>
                                <div class="order-muted">Media Status</div>
                                <!-- <strong>Upload file</strong> -->
                            </div>

                            <div class="upload-tanku-contain">
                                <label class="order-upload-btn" title="Upload media">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_approved == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning"
                                        *ngIf="_obj.is_media_approved == 0 && _obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_approved == 2"></i>
                                    <i class="ph-duotone ph-dots-three-outline" data-bs-toggle="tooltip"
                                        data-bs-title="No Update" *ngIf="_obj.is_media_approved == null"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
        <!-- <div class="card table-card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th class="text-end">Order#</th>
                                <th>Product Detail</th>
                                <th class="text-center">Media Upload</th>
                                <th class="text-center">Media Approved</th>
                                <th class="text-center">Media Comment</th>
                                <th class="text-center">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _obj of this.pendingMedia">
                                <td class="text-end">{{_obj.order_number}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-auto pe-0">
                                            <img [src]="_obj.thumbnail" alt="screen-image" class="wid-40 rounded">
                                        </div>
                                        <div class="col">
                                            <h6 class="mb-1">{{_obj.product_name}}</h6>
                                            <h6 class="mb-1">{{_obj.time_slot_value}}</h6>
                                            <p class="text-muted f-12 mb-0">{{_obj.from_date | date: 'dd-MMM-yyyy' }} to
                                                {{_obj.to_date| date: 'dd-MMM-yyyy' }} </p>
                                            <p class="text-muted f-12 mb-0">Interval : {{_obj.interval_value}}</p>
                                            <p class="text-muted f-12 mb-0">Repetiton : {{_obj.repetition_value}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning" *ngIf="_obj.is_media_upload == 0"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_upload == 2"></i>
                                    <a (click)="open_upload_media(_obj.order_product_map_id)">
                                        <i class="ti ti-upload text-primary f-24" data-bs-toggle="tooltip"
                                            data-bs-title="Upload Media" *ngIf="_obj.is_media_upload == null"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_approved == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning"
                                        *ngIf="_obj.is_media_approved == 0 && _obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_approved == 2"></i>
                                    <i class="ph-duotone ph-dots-three-outline" data-bs-toggle="tooltip"
                                        data-bs-title="No Update" *ngIf="_obj.is_media_approved == null"></i>
                                </td>
                                <td>{{_obj.media_comments}}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <a *ngIf="_obj.is_media_upload !== null" (click)="openvideo(_obj.thumbnail)"
                                            class="avtar avtar-xs btn-link-secondary btn-pc-default" title="View">
                                            <i class="ti ti-eye f-18"></i>
                                        </a>
                                        <ng-container
                                            *ngIf="this._base._commonService.hasAccessofcontrol('admin_uploadmedia_action_approved') && _obj.is_media_approved!= 1">
                                            <button (click)="media_approved(_obj.order_product_map_id,1)"
                                                class="btn btn-sm btn-success" title="Approve">
                                                <span class="ms-1">Approve</span>
                                            </button>

                                            <button (click)="openModal(_obj.order_product_map_id)"
                                                class="btn btn-sm btn-outline-danger" title="Reject">
                                                <span class="ms-1">Reject</span>
                                            </button>
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
    <!-- [ sample-page ] end -->
</div>
<swal #approveSwal [swalOptions]="swalOptions" title="Media Approved!" text="" icon="success"
    [showConfirmButton]="false">
</swal>
<swal #rejectSwal [swalOptions]="swalOptions" title="Media Rejeted!" text="" icon="warning" [showConfirmButton]="false">
</swal>
<ng-template #formModal let-modal>
    <form #myForm="ngForm">
        <div class="modal-header">
            <label class="col-lg-6 col-form-label fw-bold fs-8">Comment for Rejection</label>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>

            <div class="row mb-12">
                <textarea class="form-control form-control-sm" style="height: 120px;" id="invoice_period"
                    name="invoice_period" placeholder="Comment" [(ngModel)]="rejectComment">
                    </textarea>
            </div>
            <br />
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-primary btn-sm" (click)="modal.dismiss('cancel')">
                    Cancel
                </button>
                &nbsp;
                <button class="btn btn-primary btn-sm" (click)="media_approved(selectedOrderId, 2, rejectComment)">
                    Submit
                </button>
            </div>
            <swal #successSwal [swalOptions]="swalOptions" title="Save successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>
        </div>
    </form>
</ng-template>

<ng-template #formMediaModal let-modal>
    <form [formGroup]="fgmedia" #mediaForm="ngForm">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>
            <div class="row mb-6">
                <div class="col-lg-12 fv-row">
                    <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                        [controlObject]="fgmedia.controls['thumbnail']" [fileConfig]="this.fileConfig['thumbnail']">
                    </webd-mediauploader>
                </div>

            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm" (click)="upload_media()">
                    Submit
                </button>
            </div>
            <swal #uploadsuccessSwal [swalOptions]="swalOptions" title="Upload successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>

        </div>
    </form>
</ng-template>

<ng-template #VideoModal let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-12">
            <div class="col-lg-12 fv-row text-center">
                <video width="100%" height="auto" controls *ngIf="selectedVideoUrl">
                    <source [src]="selectedVideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</ng-template>