<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <!-- <div class="text-end p-sm-4 pb-sm-2">
            <a href="../application/ecom_product-add.html" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Add Product </a>
          </div> -->
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th class="text-end">Order#</th>
                                <th>Product Detail</th>
                                <th>Screen</th>
                                <th>Interval</th>
                                <th>Repetition</th>
                                <th class="text-center">Media Upload</th>
                                <th class="text-center">Media Approved</th>
                                <th class="text-center">Media Comment</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _obj of this.pendingMedia">
                                <td class="text-end">{{_obj.order_number}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-auto pe-0">
                                            <img src="../assets/images/application/img-prod-1.jpg" alt="user-image"
                                                class="wid-40 rounded">
                                        </div>
                                        <div class="col">
                                            <h6 class="mb-1">{{_obj.time_slot_value}}</h6>
                                            <p class="text-muted f-12 mb-0">{{_obj.from_date | date: 'dd-MMM-yyyy' }} to
                                                {{_obj.to_date| date: 'dd-MMM-yyyy' }} </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{_obj.product_name}}</td>
                                <td>{{_obj.interval_value}}</td>
                                <td>{{_obj.repetition_value}}</td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning" *ngIf="_obj.is_media_upload == 0"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_upload == 2"></i>
                                    <a (click)="open_upload_media(_obj.order_product_map_id)">
                                        <i class="ti ti-upload text-primary f-24" data-bs-toggle="tooltip"
                                            data-bs-title="Upload Media" *ngIf="_obj.is_media_upload == null"></i>
                                    </a>
                                    <!-- <a (click)="open_upload_media(_obj.order_product_map_id)"> <i
                                            class="ph-duotone ph-file-plus" data-bs-toggle="tooltip"
                                            data-bs-title="Upload Media" *ngIf="_obj.is_media_upload == null"></i></a> -->

                                </td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_approved == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning"
                                        *ngIf="_obj.is_media_approved == 0 && _obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_approved == 2"></i>
                                    <i class="ph-duotone ph-dots-three-outline" data-bs-toggle="tooltip"
                                        data-bs-title="No Update" *ngIf="_obj.is_media_approved == null"></i>
                                </td>
                                <td>{{_obj.media_comments}}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <a (click)="openvideo(_obj.thumbnail)"
                                            class="avtar avtar-xs btn-link-secondary btn-pc-default" title="View">
                                            <i class="ti ti-eye f-18"></i>
                                        </a>
                                        <ng-container *ngIf="!isAppUser">
                                            <button (click)="media_approved(_obj.order_product_map_id,1)"
                                                class="btn btn-sm btn-success" title="Approve">
                                                <span class="ms-1">Approve</span>
                                            </button>

                                            <button (click)="openModal(_obj.order_product_map_id)"
                                                class="btn btn-sm btn-danger" title="Reject">
                                                <span class="ms-1">Reject</span>
                                            </button>
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>

<ng-template #formModal let-modal>
    <form #myForm="ngForm">
        <!-- <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div> -->
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>

            <div class="row mb-6">
                <div class="col-lg-4 fv-row">
                    <label class="col-lg-6 col-form-label fw-bold fs-8">Comment</label>
                    <input type="text" class="form-control form-control-sm" id="invoice_period" name="invoice_period"
                        placeholder="Comment" [(ngModel)]="rejectComment">
                </div>

            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm" (click)="media_approved(selectedOrderId, 2, rejectComment)">
                    Submit
                </button>
            </div>
            <swal #successSwal [swalOptions]="swalOptions" title="Save successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>
        </div>
    </form>
</ng-template>

<ng-template #formMediaModal let-modal>
    <form [formGroup]="fgmedia" #mediaForm="ngForm">
        <!-- <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div> -->
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>
            <div class="row mb-6">
                <div class="col-lg-12 fv-row">
                    <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                        [controlObject]="fgmedia.controls['thumbnail']" [fileConfig]="this.fileConfig['thumbnail']">
                    </webd-mediauploader>
                </div>

            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm" (click)="upload_media()">
                    Submit
                </button>
            </div>
            <swal #uploadsuccessSwal [swalOptions]="swalOptions" title="Upload successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>

        </div>
    </form>
</ng-template>

<ng-template #VideoModal let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-6">
            <div class="col-lg-12 fv-row text-center">
                <video width="100%" height="auto" controls *ngIf="selectedVideoUrl">
                    <source [src]="selectedVideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <video width="100%" height="auto" controls autoplay>
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> -->
            </div>
        </div>
    </div>
</ng-template>