<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <!-- <div class="text-end p-sm-4 pb-sm-2">
            <a href="../application/ecom_product-add.html" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Add Product </a>
          </div> -->
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th class="text-end">Order#</th>
                                <th>Product Detail</th>
                                <th>Screen</th>
                                <th>Interval</th>
                                <th>Repetition</th>
                                <th class="text-center">Media Upload</th>
                                <th class="text-center">Media Approved</th>
                                <th class="text-center">Media Comment</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _obj of this.pendingMedia">
                                <td class="text-end">{{_obj.order_number}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-auto pe-0">
                                            <img src="../assets/images/application/img-prod-1.jpg" alt="user-image"
                                                class="wid-40 rounded">
                                        </div>
                                        <div class="col">
                                            <h6 class="mb-1">{{_obj.time_slot_value}}</h6>
                                            <p class="text-muted f-12 mb-0">{{_obj.from_date | date: 'dd-MMM-yyyy' }} to
                                                {{_obj.to_date| date: 'dd-MMM-yyyy' }} </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{_obj.product_name}}</td>
                                <td>{{_obj.interval_value}}</td>
                                <td>{{_obj.repetition_value}}</td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning" *ngIf="_obj.is_media_upload == 0"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_upload == 2"></i>
                                    <a (click)="open_upload_media(_obj.order_product_map_id)">
                                        <i class="ti ti-upload text-primary f-24" data-bs-toggle="tooltip"
                                            data-bs-title="Upload Media" *ngIf="_obj.is_media_upload == null"></i>
                                    </a>
                                    <!-- <a (click)="open_upload_media(_obj.order_product_map_id)"> <i
                                            class="ph-duotone ph-file-plus" data-bs-toggle="tooltip"
                                            data-bs-title="Upload Media" *ngIf="_obj.is_media_upload == null"></i></a> -->

                                </td>
                                <td class="text-center">
                                    <i class="ph-duotone ph-check-circle text-success f-24" data-bs-toggle="tooltip"
                                        data-bs-title="success" *ngIf="_obj.is_media_approved == 1"></i>
                                    <i class="ph-duotone ph-clock-countdown text-warning f-24" data-bs-toggle="tooltip"
                                        data-bs-title="warning"
                                        *ngIf="_obj.is_media_approved == 0 && _obj.is_media_upload == 1"></i>
                                    <i class="ph-duotone ph-x-circle text-danger f-24" data-bs-toggle="tooltip"
                                        data-bs-title="danger" *ngIf="_obj.is_media_approved == 2"></i>
                                    <i class="ph-duotone ph-dots-three-outline" data-bs-toggle="tooltip"
                                        data-bs-title="No Update" *ngIf="_obj.is_media_approved == null"></i>
                                </td>
                                <td>{{_obj.media_comments}}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <a (click)="openvideo(_obj.thumbnail)"
                                            class="avtar avtar-xs btn-link-secondary btn-pc-default" title="View">
                                            <i class="ti ti-eye f-18"></i>
                                        </a>
                                        <button (click)="media_approved(_obj.order_product_map_id,1)"
                                            class="btn btn-sm btn-success d-flex align-items-center" title="Approve">
                                            <!-- <i class="ph-duotone ph-check-circle text-success f-18"></i> -->
                                            <span class="ms-1">Approve</span>
                                        </button>
                                        <button (click)="openModal(_obj.order_product_map_id)"
                                            class="btn btn-sm btn-danger d-flex align-items-center" title="Reject">
                                            <!-- <i class="ph-duotone ph-x-circle text-light f-18"></i> -->
                                            <span class="ms-1">Reject</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
<!-- 
<div class="offcanvas offcanvas-end" tabindex="-1" id="productOffcanvas" aria-labelledby="productOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="productOffcanvasLabel">Product Details</h5>
        <a class="avtar avtar-s btn-link-danger btn-pc-default" data-bs-dismiss="offcanvas">
            <i class="ti ti-x f-20"></i>
        </a>
    </div>
    <div class="offcanvas-body">
        <div class="card product-card shadow-none border-0">
            <div class="card-img-top p-0">
                <a href="../application/ecom_product-details.html">
                    <img src="../assets/images/application/img-prod-4.jpg" alt="image" class="img-prod img-fluid">
                </a>
                <div class="card-body position-absolute end-0 top-0">
                    <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-heart prod-likes-icon">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="card-body position-absolute start-0 top-0">
                    <span class="badge bg-danger badge-prod-card">30%</span>
                </div>
            </div>
        </div>
        <h5>Glitter gold Mesh Walking Shoes</h5>
        <p class="text-muted">Image Enlargement: After shooting, you can enlarge photographs of the objects for clear
            zoomed view. Change In Aspect Ratio: Boldly crop the subject and save it with a composition that has impact.
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <p class="mb-0 text-muted me-1">Price</p>
                    <h4 class="mb-0"><b>$299.00</b><span
                            class="mx-2 f-14 text-muted f-w-400 text-decoration-line-through">$399.00</span></h4>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <p class="mb-0 text-muted me-1">Categories</p>
                    <h6 class="mb-0">Shoes</h6>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <p class="mb-0 text-muted me-1">Status</p>
                    <h6 class="mb-0"><span class="badge bg-warning rounded-pill">Process</span></h6>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <p class="mb-0 text-muted me-1">Brands</p>
                    <h6 class="mb-0"><img src="../assets/images/application/img-prod-brand-1.png" alt="user-image"
                            class="wid-40"></h6>
                </div>
            </li>
        </ul>
    </div>
</div> -->

<ng-template #formModal let-modal>
    <form #myForm="ngForm">
        <!-- <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div> -->
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>

            <div class="row mb-6">
                <div class="col-lg-4 fv-row">
                    <label class="col-lg-6 col-form-label fw-bold fs-8">Comment</label>
                    <input type="text" class="form-control form-control-sm" id="invoice_period" name="invoice_period"
                        placeholder="Comment" [(ngModel)]="rejectComment">
                </div>

            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm" (click)="media_approved(selectedOrderId, 2, rejectComment)">
                    Submit
                </button>
            </div>
            <swal #successSwal [swalOptions]="swalOptions" title="Save successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>
        </div>
    </form>
</ng-template>

<ng-template #formMediaModal let-modal>
    <form [formGroup]="fgmedia" #mediaForm="ngForm">
        <!-- <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div> -->
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
                data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            </div>
            <div class="row mb-6">
                <div class="col-lg-12 fv-row">
                    <webd-mediauploader [fileChoosenData]="fileChoosenData['thumbnail']"
                        [controlObject]="fgmedia.controls['thumbnail']" [fileConfig]="this.fileConfig['thumbnail']">
                    </webd-mediauploader>
                </div>

            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm" (click)="upload_media()">
                    Submit
                </button>
            </div>
            <swal #uploadsuccessSwal [swalOptions]="swalOptions" title="Upload successfully!" text="" icon="success"
                [showConfirmButton]="false">
            </swal>

        </div>
    </form>
</ng-template>

<ng-template #VideoModal let-modal>
    <div class="modal-body">
        <div class="row mb-6">
            <div class="col-lg-12 fv-row text-center">
                <video width="100%" height="auto" controls *ngIf="selectedVideoUrl">
                    <source [src]="selectedVideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <video width="100%" height="auto" controls autoplay>
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> -->
            </div>
        </div>
    </div>
</ng-template>