<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If file or directory does NOT exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all routes to index.html
  RewriteRule ^ index.html [L]
</IfModule>
