<footer class="pc-footer">
  <div class="container">
    <div class="row">
      
      <!-- Left Section -->
      <div class="col-lg-6 col-md-6 footer-logo">
        <img src="https://onescreen.in/assets/images/onescreen_logo.png" alt="Onespace Logo">
        <p><strong>VISIT OUR OFFICE :</strong></p>
        <p>3rd Floor, Shop No.302, International Finance Centre, Vesu, Surat, Gujarat, 395007</p>
<!-- 
        <p><strong>SURAT EXPERIENCE CENTER :</strong></p>
        <p>Ug-07 International Finance Centre, Vesu, Surat, Gujarat, 395007</p>

        <p><strong>VAPI EXPERIENCE CENTER :</strong></p>
        <p>First Floor, Signature - A, 108, V-2, Opposite Vasu Pujya Solitaire, Vapi, Gujarat 396191</p> -->

        <p class="contact-info"><i class="fas fa-phone-alt"></i>+91 7490077475</p>
        <!-- <p class="contact-info"><i class="fas fa-phone-alt"></i>7600450081</p> -->
      </div>

      <!-- Middle Section -->
      <div class="col-lg-3 col-md-6 footer-section">
        <h5>Our company</h5>
        <a routerLink="/aboutus">About us</a>
        <a routerLink="/privacy_policy">Privacy policy</a>
        <a routerLink="/terms_and_condition">Terms & conditions</a>
        <a routerLink="/faqs">How it works?</a>
        <a routerLink="/order_policy">Shipping & Delivery Policy</a>
        <a routerLink="/cancelation_and_refund"> Cancellation & Refund Policy</a>
        <a routerLink="/contactus">Contact us</a>
      </div>
    </div>
  </div>
</footer>